<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
      {% endif %}
    </div>
    
  <nav role="navigation" class="flex">
  <div class="item four">
    <h4>Menu</h4>
    <div id="footer-nav">
      <ul class="pull-left list-unstyled">
        <li><a href="{{ '/guide.html' | relative_url }}">Guide</a></li>
        <li><a href="{{ '/privacy-policy.html' | relative_url }}">Privacy Policy</a></li>
        <li><a href="{{ '/terms-conditions.html' | relative_url }}">Terms & Conditions</a></li>
        <li><a href="{{ '/contact.html' | relative_url }}">Contact Us</a></li>
        <li><a href="{{ '/safeguarding-children.html' | relative_url }}">Safeguarding Children</a></li>
      </ul>
    </div>
  </div>
  <div class="item four">
    <h4>Related</h4>
    <ul class="pull-left list-unstyled">
      <li class="hidden sr-only">Related links</li>
      <li><a href="//full-time.thefa.com/Index.do?league=681144">The FA - Rother League</a></li>
      <li><a href="//www.sussexfa.com/">Sussex FA</a></li>
      <li><a href="//www.facebook.com/SussexCountyFA">Sussex County FA - Facebook</a></li>
      <li><a href="//twitter.com/SussexCountyFA">Sussex County FA - Twitter</a></li>
      <li><a href="//www.sussexfa.com/referees/becoming-a-referee">Sussex FA - Becoming a Referee</a></li>
    </ul>
  </div>
  <div class="item four">
    <h4>Be Social</h4>
    <ul class="list-unstyled">
      <li><a rel="external" href="https://www.facebook.com/rotherleague"><i class="fa fa-facebook"> </i> Facebook</a></li>
      <li><a title="" href="{{ '/rss/' | relative_url }}"><i class="fa fa-rss"> </i> rss</a></li>
    </ul>
  </div>
</nav>

  </div>
</footer>
