{% if site.logo contains '://' %}
  {% assign site_logo = site.logo %}
{% else %}
  {% assign site_logo = site.logo | relative_url %}
{% endif %}

<header id="masthead">
  <div class="inner">
    <div class="title-area">
      {% if page.url == '/' %}
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </h1>
      {% else %}
        <p class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </p>
      {% endif %}
    </div>
  </div>
  
  <div class="advert">
    <a href="https://bit.ly/3HXAw0a">
      <img src="adverts/980x120.png" alt="advert" name="banner advert">
    </a>
  </div>
  
  <section class="ad">
  <div class="container">
    <a href="https://bit.ly/3HXAw0a">
      <div class="logo" alt="https://edgeteamwear.com/">
      </div>
    </a>
  </div>
</section>
</header>


