<h2 id="battle_town_youth"><strong>Battle Town FC</strong></h2>	
	
<p>{% include kit.html top="#FF991C" top2="#FF991C" shorts="#ffffff" socks="#FF991C" %}

<p>Club Secretary: Adrian Davis<br>
	Tel: <a href="tel:07368366931">07368366931</a><br>
	Email: <a href="mailto:adrian.davis@battletownfc.com">adrian.davis@battletownfc.com</a></p>

<p>Club Welfare Officer: Sophie Holdt<br>
	Tel: <a href="tel:07472341877">07472341877</a><br>
	Email: <a href="mailto:agsophie@gmail.com">agsophie@gmail.com</a></p>
