<h2 id="battle_town_youth"><strong>Battle Town FC CIC Youth</strong></h2>	
	
<p>{% include kit.html top="#f44336" top2="#f44336" shorts="#f44336" socks="#f44336" %}</p>

<p>Club Secretary: Maria Chilton<br>
	Tel: <a href="tel:07472341877">07472341877</a><br>
	Email: <a href="mailto:mariachilton@icloud.com">mariachilton@icloud.com</a></p>

<p>Club Welfare Officer: Sophie Holdt<br>
	Tel: <a href="tel:07472341877">07472341877</a><br>
	Email: <a href="mailto:sophieholdt@hotmail.co.uk">sophieholdt@hotmail.co.uk</a></p>
