<h2 id="battle_town_youth"><strong>Battle Town FC CIC Youth</strong></h2>	
	
	<p>{% include kit.html top="#FFA500" top2="#FFA500" shorts="#FFA500" socks="#FFA500" %}
	</p>
<p>
	Club Secretary: Maria Chilton<br>
	Tel: <a href="tel:07472341877">07472341877</a><br>
	Email: <a href="mailto:mariachilton@icloud.com">mariachilton@icloud.com</a>
  
</p>

<p>
	Club Welfare Officer: Sophie Holdt<br>
	Tel: <a href="tel:07472341877">07472341877</a><br>
	Email: <a href="mailto:sophieholdt@hotmail.co.uk">sophieholdt@hotmail.co.uk</a>
  
</p>
