<h2 id="beckley"><strong>Beckley Rangers</strong></h2>

<p>{% include kit.html top="#800000" top2="#ADDFFF" shorts="#ADDFFF" socks="#ADDFFF"  %}
  
</p>
<p>Club Secretary: Pauline Fillmore<br>
  Tel: <a href="tel:07795056584">07795056584</a><br>
Email: <a href="mailto:pafillmore@hotmail.com">pafillmore@hotmail.com</a></p>
<div>
  <div>
    <div>
      <h5>Beckley Rangers FC - BECKLEY RANGERS FC Under 8's</h5>
    </div>
    <ul>
      <li>Team: Beckley Rangers FC - BECKLEY RANGERS FC</li>
      <li>Colours: CLARET &amp; SKY BLUE / CLARET</li>
      <li>Location: PEASMARSH REC, AS ABOVE, PEASMARSH RECREATION GROUND The Maltings, Peasmarsh, Rye, TN31 6ST</li>
    </ul>
    <ul>
      <li>Manager: ANDY MORGAN</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Beckley Rangers FC Under 11's</h5>
    </div>
    <ul>
      <li>Team: Beckley Rangers FC</li>
      <li>Colours: Burgundy / Light blue</li>
      <li>Location: Peasmarsh Recreation Ground, The Maltings, TN31 6ST</li>
    </ul>
    <ul>
      <li>Manager: Graeme Dinning<br>
      </li>
      <li>Tel: <a href="tel:07941228866">07941228866</a><br>
      </li>
      <li>Email: <a href="mailto:graemedinning@hotmail.co.uk">graemedinning@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Beckley Rangers FC - BECKLEY RANGERS FC Under 13's</h5>
    </div>
    <ul>
      <li>Team: Beckley Rangers FC - BECKLEY RANGERS FC</li>
      <li>Colours: CLARET AND NAVY BLUE / NAVY BLUE</li>
      <li>Location: MARLBOROUGH HOUSE SCHOOL, MARLBOROUGH HOUSE SCHOOL, TN18 4PY</li>
    </ul>
    <ul>
      <li>Manager: JAMES BULL<br>
      </li>
      <li>Tel: <a href="tel:07403931695">07403931695</a><br>
      </li>
      <li>Email: <a href="mailto:SOPHIEBULL45@HOTMAIL.COM">SOPHIEBULL45@HOTMAIL.COM</a><br>
      </li>
    </ul>
  </div>
</div>
