 <table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <h2><strong>Beckley Rangers</strong></h2>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Pauline Fillmore<br />01797 260256 / pafillmore@hotmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Beckley Rangers FC - Beckley Rangers<br /><strong>Colours:</strong> CLARET &amp; LIGHT BLUE / LIGHT BLUE</p>
               <p>NORTHIAM RECREATION GROUND - TN31 6LP</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Graeme Dinning</strong></p>
               <p><strong>Email:</strong> graemedinning@hotmail.co.uk<br /><strong>Phone:</strong> 07941228866</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> BECKLEY RANGERS FC  - BECKLEY RANGERS FC BOARS<br /><strong>Colours:</strong> NAVY BLUE AND MAROON STRIPES / NAVY BLUE</p>
               <p>NORTHIAM RECREATION GROUND - MAIN STREET TN31 6LS </p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: SCOTT MASON</strong></p>
               <p><strong>Email:</strong> SMASONUK@YAHOO.CO.UK<br /><strong>Phone:</strong> 07952609025</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Beckley Rangers FC - Beckley Rangers Bulls<br /><strong>Colours:</strong> SKY BLUE AND CLARET TRIM / SKY BLUE</p>
               <p>RYE SALTS - TN31 7LR</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: James Bull</strong></p>
               <p><strong>Email:</strong> sophiebull45@hotmail.com<br /><strong>Phone:</strong> 07403931695</p>
            </td>
         </tr>
      </table>
