<h2 id="bexhill"><strong>BEXHILL UTD</strong></h2>

 <p>{% include kit.html top="#ffffff" top2="#ffffff" shorts="#000000" socks="#000000"  %}
   
 </p>
 <p>Club Secretary: Simon Dunne<br>
 Email: <a href="mailto:simon_dunne@hotmail.co.uk">simon_dunne@hotmail.co.uk</a></p>


<!--

U8	CRAIG MEPHAM	CRAIG MEPHAM	59104799	craig@blancaweb.net	07854054811	ROTHER	SUNDAYS
U9	CRAIG MEPHAM	CRAIG MEPHAM	59104799	craig@blancaweb.net	07854054811	ROTHER	SUNDAYS
U10 WHITE	JAMES BALLARD	ANGELA FALL ******	64626751	angelafall@hotmail.com	07878282951	ROTHER	SUNDAYS
U10 BLACK	MIKE BUTLER	MIKE BUTLER *******	64379798	mikethemechanic79@gmail.com	07540763193	ROTHER	SATURDAYS
U12 BLACK	IAN RISE	IAN RISE  ######	64676078	riseey1980@gmail.com	0796760930	ROTHER	SATURDAYS
U12	CLIFF BURKIN	CLIFF BURKIN	59688684	cliffordburkin@gmail.com	07572294335	ROTHER	SATURDAYS
U13	GARY SAUNDERS	GARY SAUNDERS	2229925	garysaunders007@hotmail.com	07913818521	ROTHER	SATURDAYS
U14	GARY HART	GARY HART   *******	64091471	gary.stade@gmail.com	07717500536	ROTHER	SUNDAYS
U15	DAN JOHNSON	MARTIN JOHNSON	824281	emjay3691@yahoo.co.uk	07753259646	ROTHER	SUNDAYS
-->
<div>
   <div>
     <div>
       <h5>Bexhill United - Bexhill Under 7's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United - Bexhill</li>
       <li>Colours: white / black</li>
       <li>Location: polegrove, 1, tn393ha</li>
     </ul>
     <ul>
       <li>Manager: zakarie overfield<br>
       </li>
       <li>Tel: <a href="tel:07590168699">07590168699</a><br>
       </li>
       <li>Email: <a href="mailto:zak4575@hotmail.com">zak4575@hotmail.com</a><br>
       </li>
     </ul>
   </div>
</div>
 <div>
   <div>
     <div>
       <h5>Bexhill United Under 8's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United</li>
       <li>Colours: White / Black</li>
       <li>Location: The Polegrove, 2, TN39 3HA</li>
     </ul>
     <ul>
       <li>Manager: Craig Mepham<br>
       </li>
     </ul>
   </div>
 </div>
 <div>
   <div>
     <div>
       <h5>Bexhill United Under 9's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United</li>
       <li>Colours: White / Black</li>
       <li>Location: The Polegrove, 2, TN39 3HA</li>
     </ul>
     <ul>
       <li>Manager: Craig Mepham<br>
       </li>
       <li>Tel: <a href="tel:07854054811">07854054811</a><br>
       </li>
       <li>Email: <a href="mailto:craig@blancaweb.net">craig@blancaweb.net</a></li>
     </ul>
   </div>
 </div>
 <div>
   <div>
     <div>
       <h5>Bexhill United - Black Under 10's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United - Black</li>
       <li>Colours: White / Black</li>
       <li>Location: The Polegrove, 2, TN39 3HA</li>
     </ul>
     <ul>
       <li>Manager: James Ballard<br>
       </li>
       <li>Tel: <a href="tel:07878282951">07878282951</a><br>
       </li>
       <li>Email: <a href="mailto:angelafall@hotmail.com">angelafall@hotmail.com</a><br>
       </li>
     </ul>
   </div>
 </div>
 <div>
   <div>
     <div>
       <h5>Bexhill United - White Under 10's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United - White</li>
       <li>Colours: White / Black</li>
       <li>Location: The Polegrove, 2, TN39 3HA</li>
     </ul>
     <ul>
       <li>Manager: Mike Butler<br>
       </li>
       <li>Tel: <a href="tel:07540763193">07540763193</a><br>
       </li>
       <li>Email: <a href="mailto:mikethemechanic79@gmail.com">mikethemechanic79@gmail.com</a><br>
       </li>
     </ul>
   </div>
 </div>
 <div>
   <div>
     <div>
       <h5>Bexhill United Under 12's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United</li>
       <li>Colours: White / Black</li>
       <li>Location: The Polegrove, 2, TN29 3HA</li>
     </ul>
     <ul>
       <li>Manager: Cliff Burkin<br>
       </li>
       <li>Tel: <a href="tel:07572294335">07572294335</a><br>
       </li>
       <li>Email: <a href="mailto:cliffordburkin@gmail.com">cliffordburkin@gmail.com</a><br>
       </li>
     </ul>
   </div>
 </div>
 <div>
   <div>
     <div>
       <h5>Bexhill United Under 13's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United</li>
       <li>Colours: White / Black</li>
       <li>Location: The Polegrove, 3, TN39 3HA</li>
     </ul>
     <ul>
       <li>Manager: Gary Saunders<br>
       </li>
       <li>Tel: <a href="tel:07913818521">07913818521</a><br>
       </li>
       <li>Email: <a href="mailto:garysaunders007@hotmail.com">garysaunders007@hotmail.com</a><br>
       </li>
     </ul>
   </div>
 </div>
 <div>
   <div>
     <div>
       <h5>Bexhill United Under 14's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United</li>
       <li>Colours: White / Black</li>
       <li>Location: The Polegrove, 3, TN39 3HA</li>
     </ul>
     <ul>
       <li>Manager: Nathan Dolby<br>
       </li>
       <li>Tel: <a href="tel:07592639252">07592639252</a><br>
       </li>
       <li>Email: <a href="mailto:nathan_dolby@hotmail.co.uk">nathan_dolby@hotmail.co.uk</a><br>
       </li>
     </ul>
   </div>
 </div>
 <div>
   <div>
     <div>
       <h5>Bexhill United Under 15's</h5>
     </div>
     <ul>
       <li>Team: Bexhill United</li>
       <li>Colours: White / Black</li>
       <li>Location: The Polegrove, 3, TN39 3HA</li>
     </ul>
     <ul>
       <li>Manager: Dan Johnson<br>
       </li>
       <li>Tel: <a href="tel:07753259646">07753259646</a><br>
       </li>
       <li>Email: <a href="mailto:emjay3691@yahoo.co.uk">emjay3691@yahoo.co.uk</a><br>
       </li>
     </ul>
   </div>
 </div>

<p>&nbsp;</p>
