<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <h2><strong>BEXHILL UTD</strong></h2>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Simon Dunne<br />07983134245 / simon_dunne@hotmail.co.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> Bexhill United - Bexhill United<br /><strong>Colours:</strong> WHITE / BLACK</p>
               <p>POLEGROVE - TN39 3HA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: James Ballard</strong></p>
               <p><strong>Email:</strong> Jayballad75@icloud.com<br /><strong>Phone:</strong> 07399569934</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Bexhill United - Bexhill United<br /><strong>Colours:</strong> WHITE / BLACK</p>
               <p>POLEGROVE - TN39 3HA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Conor Hill</strong></p>
               <p><strong>Email:</strong> conordavidhill@gmail.com<br /><strong>Phone:</strong> 07787157774</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Bexhill United - Bexhill United F.C<br /><strong>Colours:</strong> WHITE/BLACK / BLACK</p>
               <p>THE POLEGROVE - TN39 3HA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Clifford Burkin</strong></p>
               <p><strong>Email:</strong> cliffordburkin@gmail.com<br /><strong>Phone:</strong> 07572294335</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Bexhill United - Bexhill United Under 12<br /><strong>Colours:</strong> WHITE &amp; BLACK / BLACK</p>
               <p>THE POLEGROVE - TN39 3HA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Gary Saunders</strong></p>
               <p><strong>Email:</strong> garysaunders007@hotmail.com<br /><strong>Phone:</strong> 07913 818521</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 13's</strong></p>
               <p><strong>Team:</strong> Bexhill United - Bexhill United <br /><strong>Colours:</strong> WHITE / BLACK</p>
               <p>POLGROVE - TN39 3AH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Nathan Dolby</strong></p>
               <p><strong>Email:</strong> nathan_dolby@hotmail.co.uk<br /><strong>Phone:</strong> 07592639252</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Bexhill United - Bexhill United<br /><strong>Colours:</strong> WHITE / BLACK</p>
               <p>POLGROVE - TN39 3AH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Martin  Johnson</strong></p>
               <p><strong>Email:</strong> emjay3691@yahoo.co.uk<br /><strong>Phone:</strong> 07753259646</p>
            </td>
         </tr>
      </table>
