<h2 id="bexhill"><strong>BEXHILL UTD</strong></h2>

 <p>{% include kit.html top="#ffffff" top2="#ffffff" shorts="#000000" socks="#000000"  %}
   
 </p>
 <p>
  Club Secretary: Simon Dunne<br>
  Tel: <a href="tel:07983134245">07983134245</a><br>
 Email: <a href="mailto:simon_dunne@hotmail.co.uk">simon_dunne@hotmail.co.uk</a>
 </p>

 <p>
  Club Welfare Officer: Tracy Aston<br>
  Tel: <a href="tel:07791368049">07791368049</a><br>
 Email: <a href="mailto:tracyaston21@aol.com">tracyaston21@aol.com</a>
 </p>

