
<h2 id="battle"><strong>Buckswood Football Academy</strong></h2>

{% include kit.html top="#FFFFFF" top2="#FFFFFF" shorts="#000000" socks="#000000" %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Darren	Horsman<br />01424813813 / football3@buckswood.co.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Buckswood Football Academy - Under Under 14's<br /><strong>Colours:</strong> White / Back</p>
               <p>Buckswood School, 	Front pitch	- TN354LT</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Darren	Horsman</strong></p>
               <p><strong>Email:</strong> football3@buckswood.co.uk<br /><strong>Phone:</strong> 01424813813</p>
            </td>
         </tr>
</table>

