 <h2 id="burwash"><strong>Burwash Juniors fc</strong></h2>
<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
       
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Helen Moderski<br />01435882010 / Helen.moderski@googlemail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 15's</strong></p>
               <p><strong>Team:</strong> Burwash Juniors FC - Burwash Juniors<br /><strong>Colours:</strong> RED / BLACK</p>
               <p>SWAN MEADOW - TN19 7ER</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Pauline Wilson</strong></p>
               <p><strong>Email:</strong> Paulinewilson24@live.com<br /><strong>Phone:</strong> 01435883273</p>
            </td>
         </tr>
      </table>
