
<h2 id="cranbrook_juniors_fc"><strong>Cranbrook Juniors FC</strong></h2>

<p>{% include kit.html top="#F000D" top2="#F000D" shorts="#0096FF" socks="#F000D" %}
</p>
<p>
Club Secretary: Charlie Tomlinson<br>
Tel: <a href="tel:07966770939">07966770939</a><br>
Email: <a href="mailto:clubsecretary@cranbrookjuniorsfc.co.uk">clubsecretary@cranbrookjuniorsfc.co.uk</a> 
</p>

<p>
Welfare Secretary: Luci Levett<br>
Email: <a href="mailto:welfare@cranbrookjuniorsfc.co.uk">welfare@cranbrookjuniorsfc.co.uk</a> 
</p>
