<h2 id="crowhurst"><strong>Crowhurst FC</strong></h2>

<p>{% include kit.html top="#ffffff" top2="#ffffff" shorts="#000000" socks="#000000"  %}
  
  
</p>
<p>Club Secretary: Steve Mcgowan<br>
  Tel: <a href="tel:07921662420">07921662420</a><br>
Email: <a href="mailto:macca2907@hotmail.com">macca2907@hotmail.com</a>
</p>
<p>Club Welfare Officer: Katie Evans<br>
  Tel: <a href="tel:07842561930">07842561930</a><br>
Email: <a href="mailto:katielevans@hotmail.co.uk">katielevans@hotmail.co.ukm</a>
</p>
