<h2 id="crowhurst"><strong>Crowhurst Youth AFC</strong></h2>

{% include kit.html top="#ffffff" top2="#ffffff" shorts="#000000" socks="#000000"  %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
       
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Barry Mann<br />01424777378 / bazmann@hotmail.co.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Crowhurst Youth - Crowhurst Youth<br /><strong>Colours:</strong> WHITE / BLACK</p>
               <p>CROWHURST REC - TN33 9AS</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Barry Mann</strong></p>
               <p><strong>Email:</strong> bazmann@hotmail.co.uk<br /><strong>Phone:</strong> 07760992860</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Crowhurst Youth - Crowhurst Youth<br /><strong>Colours:</strong> WHITE / BLACK</p>
               <p>CROWHURST REC - TN33 9AS</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Steve McGowan</strong></p>
               <p><strong>Email:</strong> macca2907@hotmail.com<br /><strong>Phone:</strong> 07921662420</p>
            </td>
         </tr>
      </table>
