<h2 id="ds_hastings"><strong>D&amp;S Hastings Youth</strong></h2>

<p>{% include kit.html top="#ff0000" top2="#000000" shorts="#000000" socks="#000000" %}
  
  
</p>
<p>Club Secretary: Dennis Ireland<br>
  Tel: <a href="tel:07508776796">07508776796</a><br>
Email: <a href="mailto:coach@dandshastingsyouth.football">coach@dandshastingsyouth.football</a></p>
<div>
  <div>
    <div>
      <h5>D&amp;S Hastings Youth - D&amp;S Hastings Youth Under 7's</h5>
    </div>
    <ul>
      <li>Team: D&amp;S Hastings Youth - D&amp;S Hastings Youth</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: Bulverhythe, recreation ground Bexhill Road, TN38 8AH</li>
    </ul>
    <ul>
      <li>Manager: Dennis Ireland<br>
      </li>
      <li>Tel: <a href="tel:07508776796">07508776796</a><br>
      </li>
      <li>Email: <a href="mailto:coach@dandshastingsyouth.football">coach@dandshastingsyouth.football</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>D&amp;S Hastings Youth - D&amp;S Hastings Youth Under 10's</h5>
    </div>
    <ul>
      <li>Team: D&amp;S Hastings Youth - D&amp;S Hastings Youth</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: BULVERHYTHE Recreation ground, bexhill road, TN38 8AH</li>
    </ul>
    <ul>
      <li>Manager: Dennis Ireland<br>
      </li>
      <li>Tel: <a href="tel:07508776796">07508776796</a><br>
      </li>
      <li>Email: <a href="mailto:coach@dandshastingsyouth.football">coach@dandshastingsyouth.football</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>D&amp;S Hastings Youth - D&amp;S Hastings Youth Under 10's</h5>
    </div>
    <ul>
      <li>Team: D&amp;S Hastings Youth - D&amp;S Hastings Youth</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: Bulverhythe, recreation ground, Bexhill Road, TN38 8AH</li>
    </ul>
    <ul>
      <li>Manager: Keith Smith<br>
      </li>
      <li>Tel: <a href="tel:07508776796">07508776796</a><br>
      </li>
      <li>Email: <a href="mailto:coach@dandshastingsyouth.football">coach@dandshastingsyouth.football</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>D&amp;S Hastings Youth - D&amp;S Hastings Youth Under 12's</h5>
    </div>
    <ul>
      <li>Team: D&amp;S Hastings Youth - D&amp;S Hastings Youth</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: Bulverhythe, recreation ground, Bexhill Road, TN38 8AH</li>
    </ul>
    <ul>
      <li>Manager: Dennis Ireland<br>
      </li>
      <li>Tel: <a href="tel:07508776796">07508776796</a><br>
      </li>
      <li>Email: <a href="mailto:coach@dandshastingsyouth.football">coach@dandshastingsyouth.football</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>D&amp;S Hastings Youth - D&amp;S Hastings Youth Under 13's</h5>
    </div>
    <ul>
      <li>Team: D&amp;S Hastings Youth - D&amp;S Hastings Youth</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: Bulverhythe, recreation ground, Bexhill Road, TN38 8AH</li>
    </ul>
    <ul>
      <li>Manager: Damien Smith<br>
      </li>
      <li>Tel: <a href="tel:07508776796">07508776796</a><br>
      </li>
      <li>Email: <a href="mailto:coach@dandshastingsyouth.football">coach@dandshastingsyouth.football</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
