<h2 id="eastbourne_borough"><strong>Eastbourne Borough Youth Football Club</strong></h2>

<p>{% include kit.html top="#ff0000" top2="#ff0000" shorts="#ff0000" socks="#ff0000" %}
  
  
</p>
<p>Club Secretary: GEOFF MOULE<br>
  Tel: <a href="tel:07541323555">07541323555</a><br>
Email: <a href="mailto:youth.secretary@ebfc.co.uk">youth.secretary@ebfc.co.uk</a></p>
<div>
  <div>
    <div>
      <h5>Eastbourne Borough Youth FC - Eastbourne Borough Youth FC U7 Under 7's</h5>
    </div>
    <ul>
      <li>Team: Eastbourne Borough Youth FC - Eastbourne Borough Youth FC U7</li>
      <li>Colours: Red / Red</li>
      <li>Location: Eastbourne Borough FC, Priory Lane, Eastbourne, BN23 7QH</li>
    </ul>
    <ul>
      <li>Manager: Dean Collyer<br>
      </li>
      <li>Tel: <a href="tel:07912223491">07912223491</a><br>
      </li>
      <li>Email: <a href="mailto:dcollyer4@aol.com">dcollyer4@aol.com</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Eastbourne Borough Youth FC - Eastbourne Borough Orange U13 Under 13's</h5>
    </div>
    <ul>
      <li>Team: Eastbourne Borough Youth FC - Eastbourne Borough Orange U13</li>
      <li>Colours: Red / Red</li>
      <li>Location: Eastbourne Borough FC, Priory Lane, Eastbourne, BN23 7QH</li>
    </ul>
    <ul>
      <li>Manager: Emlyn Mccann<br>
      </li>
      <li>Tel: <a href="tel:07584245131">07584245131</a><br>
      </li>
      <li>Email: <a href="mailto:emlynmccann@btinternet.com">emlynmccann@btinternet.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Eastbourne Borough Youth FC Under 14's</h5>
    </div>
    <ul>
      <li>Team: Eastbourne Borough Youth FC</li>
      <li>Colours: RED / RED</li>
      <li>Location: EASTBOURNE BOROUGH FC, PRIORY LANE, EASTBOURNE, BN23 7QH</li>
    </ul>
    <ul>
      <li>Manager: Dimitris Zotas<br>
      </li>
      <li>Tel: <a href="tel:07585568882">07585568882</a><br>
      </li>
      <li>Email: <a href="mailto:zotosdimitris19@gmail.com">zotosdimitris19@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
