<h2 id="eastbourne_united_youth_afc"><strong>Eastbourne United Youth AFC </strong></h2>

<p>{% include kit.html top="#000000" top2="#ffffff" shorts="#000000" socks="#ffffff" %}

</p>
<p>
  Club Secretary: Derrick Wickens<br>
  Tel: <a href="tel:07955772417">07955772417</a><br>
Email: <a href="mailto:secretaryeuyfc@gmail.com">secretaryeuyfc@gmail.com</a>
</p>

<p>
  Club Welfare Officer: Jonathan Owen<br>
  Tel: <a href="tel:07484098367">07484098367</a><br>
Email: <a href="mailto:Jonathan.Owen@hydrohotel.com">Jonathan.Owen@hydrohotel.com</a>
</p>
 
