<h2 id="eastbourne_borough"><strong>Eastbourne Borough Youth Football Club</strong></h2>

{% include kit.html top="#ff0000" shorts="#ff0000" socks="#ff0000" %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Geoff Moule<br />07541 323555 / youth.secretary@ebfc.co.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Eastbourne Borough Youth - Eastbourne Borough Youth U11 White<br /><strong>Colours:</strong> RED / RED</p>
               <p>PRIORY LANE - BN23 7QH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Dean Collyer</strong></p>
               <p><strong>Email:</strong> archie_657@hotmail.co.uk<br /><strong>Phone:</strong> 07912 223491</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Eastbourne Borough Youth - Eastbourne Borough Youth U12 Red<br /><strong>Colours:</strong> RED / RED</p>
               <p>PRIORY LANE - BN23 7QH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Steve Albery</strong></p>
               <p><strong>Email:</strong> mimmsy7878@gmail.com<br /><strong>Phone:</strong> 07922002041</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Eastbourne Borough Youth - Eastbourne Borough Youth U12 Orange<br /><strong>Colours:</strong> RED / RED</p>
               <p>PRIORY LANE - BN23 7QH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Emlyn Mccann</strong></p>
               <p><strong>Email:</strong> emlynmccann@btinternet.com<br /><strong>Phone:</strong> 07584245131</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Eastbourne Borough Youth - Eastbourne Borough Youth U14<br /><strong>Colours:</strong> RED / RED</p>
               <p>PRIORY LANE - BN23 7QH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Steve Howard</strong></p>
               <p><strong>Email:</strong> steven_howard@live.com<br /><strong>Phone:</strong> 07900 896399</p>
            </td>
         </tr>
      </table>
      
