<h2 id="afc_hastings"><strong>Fairwarp FC</strong></h2>

<p>{% include kit.html top="#008000" top2="#000000" shorts="#000000" socks="#000000" %}
</p>
<p>
Club Secretary: Andrew Parks<br>
Tel: <a href="tel:07985711876">07985711876</a><br>
Email: <a href="mailto:fairwarpfc1@gmail.com">fairwarpfc1@gmail.com</a> 
</p>
<p>
Club Welfare Officer: Nick  Peeters<br>
Tel: <a href="tel:07966527089">07966527089</a><br>
Email: <a href="mailto:nickpeeters1968@outlook.com">nickpeeters1968@outlook.com</a> 
</p>
