<h2 id="goudhurst"><strong>Goudhurst Dynamos</strong></h2>

<p>{% include kit.html top="#0047AB" top2="#ffffff" shorts="#ffffff" socks="#0047AB" %}
  
  
</p>
<p>Club Secretary: Sarah Newton<br>
  Tel: <a href="tel:07702567056">07702567056</a><br>
Email: <a href="mailto:sarahnewton73@hotmail.com">sarahnewton73@hotmail.com</a></p>
<div>
  <div>
    <div>
      <h5>Goudhurst Dynamos - Goudhurst Dynamos Under 12's</h5>
    </div>
    <ul>
      <li>Team: Goudhurst Dynamos - Goudhurst Dynamos</li>
      <li>Colours: Cobalt Blue and White / Cobalt Blue and White</li>
      <li>Location: Chequer Field, TN17 1DZ</li>
    </ul>
    <ul>
      <li>Manager: Graeme Dignan<br>
      </li>
      <li>Tel: <a href="tel:07966680484">07966 680484</a><br>
      </li>
      <li>Email: <a href="mailto:graemeadignan@gmail.com">graemeadignan@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Goudhurst Dynamos - Goudhurst Dynamos Under 14's</h5>
    </div>
    <ul>
      <li>Team: Goudhurst Dynamos - Goudhurst Dynamos</li>
      <li>Colours: Cobalt Blue and White / Cobalt Blue</li>
      <li>Location: Chequer Field, TN17 1DZ</li>
    </ul>
    <ul>
      <li>Manager: Steve Hope<br>
      </li>
      <li>Tel: <a href="tel:07753449838">07753449838</a><br>
      </li>
      <li>Email: <a href="mailto:steve72hope@gmail.com">steve72hope@gmail.com</a></li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
