 <h2 id="goudhurst"><strong>Goudhurst Dynamos</strong></h2>
<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Sarah Newton<br />01622 832 748 / sarahnewton73@hotmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Goudhurst Dynamos - Goudhurst Dynamos<br /><strong>Colours:</strong> COBALT BLUE AND WHITE / COBALT BLUE AND WHITE</p>
               <p>CHEQUER FIELD - TN17 1DZ</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Steve Hope</strong></p>
               <p><strong>Email:</strong> steve72hope@gmail.com<br /><strong>Phone:</strong> 07753 449838</p>
            </td>
         </tr>
      </table>
