<h2 id="hadlow_down_hawks"><strong>Hadlow Down Hawks</strong></h2>

<p>{% include kit.html top="#000000" top2="#ffffff" shorts="#000000" socks="#000000" %}
</p>
  
<p>Club Secretary: Sean chapman<br>
Email: <a href="mailto:seanchapman2605@gmail.com">seanchapman2605@gmail.com</a>
</p>
<div>
  <div>
    <h5>Hadlow Down Hawks - U9 Hawks Under 9's</h5>
  </div>
  <ul>
    <li>Team: Hadlow Down Hawks - U9 Hawks</li>
    <li>Colours: Black and white stripe / Black</li>
    <li>Location: Hadlow down playing field, Tn224je</li>
  </ul>
  <ul>
    <li>Manager: Sean chapman<br>
    </li>
    <li>Tel: <a href="tel:+447926545994">+447926545994</a><br>
    </li>
    <li>Email: <a href="mailto:seanchapman2605@gmail.com">seanchapman2605@gmail.com</a></li>
  </ul>
</div>
<p>&nbsp;</p>
