<h2 id="hastings_wanderers"><strong>Hastings Wanderers Youth Football Club</strong></h2>

<p>{% include kit.html top="#ffffff" top2="#000000" shorts="#000000" socks="#000000" %}
  
  
</p>
<p>Club Secretary: Amy Brett<br>
  Tel: <a href="tel:07460724080">07460724080</a><br>
Email: <a href="mailto:hastingswanderersfc@gmail.com">hastingswanderersfc@gmail.com</a></p>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U7 Lions Under 7's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U7 Lions</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Ark William Parker Academy, Pavillion Pitch, Tn34 2pg</li>
    </ul>
    <ul>
      <li>Manager: Chris Fountain<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U8 Lions Under 8's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U8 Lions</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Lee Holewell<br>
      </li>
      <li>Tel: <a href="tel:07790316843">07790316843</a><br>
      </li>
      <li>Email: <a href="mailto:lee@colemansabc.co.uk">lee@colemansabc.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U9 Lions Under 9's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U9 Lions</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Oli Jones<br>
      </li>
      <li>Tel: <a href="tel:07521117763">07521117763</a><br>
      </li>
      <li>Email: <a href="mailto:olliehwfc@gmail.com">olliehwfc@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U9 Tigers Under 9's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U9 Tigers</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Lee Heitzman<br>
      </li>
      <li>Tel: <a href="tel:07496151178">07496151178</a><br>
      </li>
      <li>Email: <a href="mailto:lrsheitzman@gmail.com">lrsheitzman@gmail.com</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U10 Lions Under 10's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U10 Lions</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Gary Pocock<br>
      </li>
      <li>Tel: <a href="tel:07718897756">07718897756</a><br>
      </li>
      <li>Email: <a href="mailto:garypocock@outlook.com">garypocock@outlook.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U10 Tigers Under 10's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U10 Tigers</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Stuart Malton<br>
      </li>
      <li>Tel: <a href="tel:07896856789">07896856789</a><br>
      </li>
      <li>Email: <a href="mailto:stuart.hwfc@gmail.com">stuart.hwfc@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U11 Lions Under 11's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U11 Lions</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Martin Dobinson<br>
      </li>
      <li>Tel: <a href="tel:07973325241">07973325241</a><br>
      </li>
      <li>Email: <a href="mailto:martindobinson@btinternet.com">martindobinson@btinternet.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U11 Tigers Under 11's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U11 Tigers</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Aec William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Lee Browning<br>
      </li>
      <li>Tel: <a href="tel:07773764616">07773764616</a><br>
      </li>
      <li>Email: <a href="mailto:leehwfc@gmail.com">leehwfc@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U13 Lions Under 13's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U13 Lions</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Chris Fountain<br>
      </li>
      <li>Tel: <a href="tel:07807054111">07807054111</a><br>
      </li>
      <li>Email: <a href="mailto:cjfountain23@gmail.com">cjfountain23@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U14 Lions Under 14's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U14 Lions</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Avademy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Matt Curtis<br>
      </li>
      <li>Tel: <a href="tel:07951721388">07951721388</a><br>
      </li>
      <li>Email: <a href="mailto:curtis.matt@sky.com">curtis.matt@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Wanderers FC - Hastings Wanderers U15 Lions Under 15's</h5>
    </div>
    <ul>
      <li>Team: Hastings Wanderers FC - Hastings Wanderers U15 Lions</li>
      <li>Colours: Pink / Black</li>
      <li>Location: Arc William Parker Academy, Pavillion Pitch, TN34 2PG</li>
    </ul>
    <ul>
      <li>Manager: Mark Paffett<br>
      </li>
      <li>Tel: <a href="tel:07919308864">07919308864</a><br>
      </li>
      <li>Email: <a href="mailto:paffett2jx@sky.com">paffett2jx@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
