<h2 id="hastings_athletic"><strong>Hastings Athletic</strong></h2>

<p>{% include kit.html top="#ffffff" top2="#ff0000" shorts="#ff0000" socks="#ff0000" %}
  
  
</p>
<p>Club Secretary: Maree Boyle<br>
  Tel: <a href="tel:07900671773">07900671773</a><br>
Email: <a href="mailto:boylei@sky.com">boylei@sky.com</a></p>
<div>
  <div>
    <div>
      <h5>Hastings Athletic Under 7's</h5>
    </div>
    <ul>
      <li>Team: Hastings Athletic</li>
      <li>Colours: Red / Red</li>
      <li>Location: Guestling Green Playing Field, TN35 4LT</li>
    </ul>
    <ul>
      <li>Manager: John McCaffrey<br>
      </li>
      <li>Tel: <a href="tel:07849008383">07849 008383</a><br>
      </li>
      <li>Email: <a href="mailto:sean4claire@hotmail.co.uk">sean4claire@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Athletic Under 8's</h5>
    </div>
    <ul>
      <li>Team: Hastings Athletic</li>
      <li>Colours: Red / Red</li>
      <li>Location: Guestling Green Playing Field, TN35 4LT</li>
    </ul>
    <ul>
      <li>Manager: Paul Welch<br>
      </li>
      <li>Tel: <a href="tel:07599500092">07599 500092</a><br>
      </li>
      <li>Email: <a href="mailto:p.welch2@sky.com">p.welch2@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Athletic Under 8's</h5>
    </div>
    <ul>
      <li>Team: Hastings Athletic</li>
      <li>Colours: Red / Red</li>
      <li>Location: Guestling Green Playing Field, TN35 4LT</li>
    </ul>
    <ul>
      <li>Manager: Robert McGowan<br>
      </li>
      <li>Tel: <a href="tel:07932583891">07932 583891</a><br>
      </li>
      <li>Email: <a href="mailto:robmcg26@hotmail.co.uk">robmcg26@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Athletic Under 9's</h5>
    </div>
    <ul>
      <li>Team: Hastings Athletic</li>
      <li>Colours: Red / Red</li>
      <li>Location: Guestling Green Playing Field, TN35 4LT</li>
    </ul>
    <ul>
      <li>Manager: Paul Welch<br>
      </li>
      <li>Tel: <a href="tel:07599500092">07599 500092</a><br>
      </li>
      <li>Email: <a href="mailto:p.welch2@sky.com">p.welch2@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Athletic Under 9's</h5>
    </div>
    <ul>
      <li>Team: Hastings Athletic</li>
      <li>Colours: Red / Red</li>
      <li>Location: Guestling Green Playing Field, TN35 4LT</li>
    </ul>
    <ul>
      <li>Manager: Paul Welch<br>
      </li>
      <li>Tel: <a href="tel:07599500092">07599 500092</a><br>
      </li>
      <li>Email: <a href="mailto:p.welch2@sky.com">p.welch2@sky.com</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Athletic Under 11's</h5>
    </div>
    <ul>
      <li>Team: Hastings Athletic</li>
      <li>Colours: Red / Red</li>
      <li>Location: Guestling Green Playing Field, TN35 4LT</li>
    </ul>
    <ul>
      <li>Manager: Richard Grant<br>
      </li>
      <li>Tel: <a href="tel:07738229789">07738 229789</a><br>
      </li>
      <li>Email: <a href="mailto:rgrant1979@hotmail.co.uk">rgrant1979@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Athletic Under 12's</h5>
    </div>
    <ul>
      <li>Team: Hastings Athletic</li>
      <li>Colours: Red / Red</li>
      <li>Location: Guestling Green Playing Field, TN35 4LT</li>
    </ul>
    <ul>
      <li>Manager: Melanie Saunters<br>
      </li>
      <li>Tel: <a href="tel:07494271776">07494 271776</a><br>
      </li>
      <li>Email: <a href="mailto:melaniesaunters@outlook.com">melaniesaunters@outlook.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Athletic Under 15's</h5>
    </div>
    <ul>
      <li>Team: Hastings Athletic</li>
      <li>Colours: Red / Red</li>
      <li>Location: Guestling Green Playing Field, TN35 4LT</li>
    </ul>
    <ul>
      <li>Manager: Ian Boyle<br>
      </li>
      <li>Tel: <a href="tel:07528905969">07528 905969</a><br>
      </li>
      <li>Email: <a href="mailto:boylei@sky.com">boylei@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
