 <h2 id="hastings_athletic"><strong>Hastings Athletic</strong></h2>

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Maree Boyle<br />07900671773 / boylei@sky.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> Hastings Athletic - Hastings Athletic FC<br /><strong>Colours:</strong> RED &amp; WHITE / RED</p>
               <p>GUESTLING GREEN PLAYING FIELDS - TN35 4LT</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Paul Welch</strong></p>
               <p><strong>Email:</strong> p.welch2@sky.com<br /><strong>Phone:</strong> 07599500092</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Hastings Athletic - Hastings Athletic FC<br /><strong>Colours:</strong> RED &amp; WHITE / RED</p>
               <p>GUESTLING GREEN PLAYING FIELDS - TN35 4LT</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Paul Welch</strong></p>
               <p><strong>Email:</strong> p.welch2@sky.com<br /><strong>Phone:</strong> 07599500092</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Hastings Athletic - Hastings Athletic FC<br /><strong>Colours:</strong> RED &amp; WHITE / RED</p>
               <p>GUESTLING GREEN PLAYING FIELDS - TN35 4LT</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Erik  Chapman</strong></p>
               <p><strong>Email:</strong> Erik_chapman@hotmail.co.uk<br /><strong>Phone:</strong> 07745 267948</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Hastings Athletic - Hastings Athletic FC<br /><strong>Colours:</strong> RED &amp; WHITE / RED</p>
               <p>GUESTLING GREEN PLAYING FIELDS - TN35 4LT</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Paul Marfleet</strong></p>
               <p><strong>Email:</strong> Paulmarfleet1981@icloud.com<br /><strong>Phone:</strong> 07895 542069</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Hastings Athletic - Hastings Athletic FC<br /><strong>Colours:</strong> RED &amp; WHITE / RED</p>
               <p>GUESTLING GREEN - TN35 4LT</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Ian Boyle</strong></p>
               <p><strong>Email:</strong> boylei@sky.com<br /><strong>Phone:</strong> 07528905969</p>
            </td>
         </tr>
      </table>
