<h2 id="hastings_rangers"><strong>Hastings Rangers YFC</strong></h2>

<p>{% include kit.html top="#ff0000" top2="#000000" shorts="#000000" socks="#000000" %}
  
  
</p>
<p>Club Secretary: Dave Durrant<br>
  Tel: <a href="tel:07802906185">07802906185</a><br>
Email: <a href="mailto:dave.p.durrant@btinternet.com">dave.p.durrant@btinternet.com</a></p>
<div>
  <div>
    <div>
      <h5>Hastings Rangers YFC - U10s Youth Under 10's</h5>
    </div>
    <ul>
      <li>Team: Hastings Rangers YFC - U10s Youth</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: Bulverhythe Recreation Ground, Mini 1, TN38 8AS</li>
    </ul>
    <ul>
      <li>Manager: Rob Lawrence<br>
      </li>
      <li>Tel: <a href="tel:07760996178">07760 996178 </a><br>
      </li>
      <li>Email: <a href="mailto:rob1066@live.co.uk">rob1066@live.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Rangers YFC - U10s Red Under 10's</h5>
    </div>
    <ul>
      <li>Team: Hastings Rangers YFC - U10s Red</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: Bulverhythe Recreation Ground, Mini 1, TN38 8AS</li>
    </ul>
    <ul>
      <li>Manager: Rob Lawrence<br>
      </li>
      <li>Tel: <a href="tel:07760996178">07760 996178 </a><br>
      </li>
      <li>Email: <a href="mailto:rob1066@live.co.uk">rob1066@live.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Rangers YFC - U16s Youth Under 16's</h5>
    </div>
    <ul>
      <li>Team: Hastings Rangers YFC - U16s Youth</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: Bulverhythe Recreation Ground, 6, TN38 8AH</li>
    </ul>
    <ul>
      <li>Manager: John Wright<br>
      </li>
      <li>Tel: <a href="tel:07903417298">07903 417298</a><br>
      </li>
      <li>Email: <a href="mailto:j-wright33@sky.com">j-wright33@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings Rangers YFC - U16s Red Under 16's</h5>
    </div>
    <ul>
      <li>Team: Hastings Rangers YFC - U16s Red</li>
      <li>Colours: Red/Black / Black</li>
      <li>Location: Bulverhythe Recreation Ground, 5, TN38 8AH</li>
    </ul>
    <ul>
      <li>Manager: Ashleigh Jacobs<br>
      </li>
      <li>Tel: <a href="tel:07983333530">07983 333530 </a><br>
      </li>
      <li>Email: <a href="mailto:ashleighjacobs40@gmail.com">ashleighjacobs40@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
