 <h2 id="hastings_wanderers"><strong>Hastings Wanderers Youth Football Club</strong></h2>

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Amy Brett<br />07460724080 / hwfcsecretary@gmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u7s Lions<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Chris Fountain</strong></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u8s Lions<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Oliver Batchelor</strong></p>
               <p><strong>Email:</strong> olliehwfc@gmail.com<br /><strong>Phone:</strong> 07521117763</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u8s Tigers<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Aaron Spicer</strong></p>
               <p><strong>Email:</strong> aaron.spyseee@gmail.com<br /><strong>Phone:</strong> 07730763866</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u9s Lions<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Gary Pocock</strong></p>
               <p><strong>Email:</strong> garypocock@outlook.com<br /><strong>Phone:</strong> 07718897756</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u9s Tigers<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Stuart Malton</strong></p>
               <p><strong>Email:</strong> themaltons@sky.com<br /><strong>Phone:</strong> 07896856789</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u10s Lions<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Martin Dobinson</strong></p>
               <p><strong>Email:</strong> martindobinson@btinternet.com<br /><strong>Phone:</strong> 07973325241</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u10s Tigers<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Lee Browning</strong></p>
               <p><strong>Email:</strong> leehwfc@gmail.com<br /><strong>Phone:</strong> 07773764616</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u11s Lions<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Joeseph Worsley</strong></p>
               <p><strong>Email:</strong> joe_worsley@yahoo.com<br /><strong>Phone:</strong> 07772917896</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u11s Tigers<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Melanie Saunters</strong></p>
               <p><strong>Email:</strong> melaniesaunters@outlook.com<br /><strong>Phone:</strong> 07534982160</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u12s Lions<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Chris Fountain</strong></p>
               <p><strong>Email:</strong> chrishwfc@gmail.com<br /><strong>Phone:</strong> 07807054111</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u12s Tigers<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Gary Henderson</strong></p>
               <p><strong>Email:</strong> garydavidhenderson@googlemail.com<br /><strong>Phone:</strong> 07816602451</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 13's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u13s Lions<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Chris Fountain</strong></p>
               <p><strong>Email:</strong> chrishwfc@gmail.com<br /><strong>Phone:</strong> 07807054111</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 13's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u13s Tigers<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Matt Curtis</strong></p>
               <p><strong>Email:</strong> curtis.matt@sky.com<br /><strong>Phone:</strong> 07951721388</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Hastings Wanderers FC - Hastings Wanderes FC u14s Lions<br /><strong>Colours:</strong> WHITE AND BLACK / BLACK</p>
               <p>WILLIAM PARK SCHOOL - TN34 2PG</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Mark Paffett</strong></p>
               <p><strong>Email:</strong> paffett2jx@sky.com<br /><strong>Phone:</strong> 07919308864</p>
            </td>
         </tr>
      </table>
