<h2 id="hastings_united"><strong>HASTINGS UNITED YOUTH FC</strong></h2>

<p>{% include kit.html top="#FFFF00" top2="#FFFF00" shorts="#FFFF00" socks="#FFFF00" %}
  
  
</p>
<p>Club Secretary: CHRIS AIRD<br>
  Tel: <a href="tel:07979032011">07979032011</a><br>
Email: <a href="mailto:chrisaird68@gmail.com">chrisaird68@gmail.com</a></p>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - Hastings United Youth Under 7's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - Hastings United Youth</li>
      <li>Colours: Fluroscent Yellow / Fluroscent Yellow</li>
      <li>Location: Sandhurst recreation Ground, TN34 2SW</li>
    </ul>
    <ul>
      <li>Manager: Matt Walbrin<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - Hastings United Youth Under 8's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - Hastings United Youth</li>
      <li>Colours: FLUORESCENT YELLOW / FLUORESCENT YELLOW</li>
      <li>Location: SANDHURST RECEREATION GROUND, TN34 2SW</li>
    </ul>
    <ul>
      <li>Manager: NATHAN MORGANS<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - Hastings United Youth Colts Under 9's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - Hastings United Youth Colts</li>
      <li>Colours: fluorescent yellow / fluorescent yellow</li>
      <li>Location: Sandhurst Recreation ground, tn34 2sw</li>
    </ul>
    <ul>
      <li>Manager: Patrick Nzeli<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - Hastings Utd Youth Under 10's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - Hastings Utd Youth</li>
      <li>Colours: Claret / Claret</li>
      <li>Location: Sandhurst recreation ground, TN34 2SW</li>
    </ul>
    <ul>
      <li>Manager: Nathan Grinham<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - HASTINGS UNITED YOUTH JAGUARS Under 10's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - HASTINGS UNITED YOUTH JAGUARS</li>
      <li>Colours: Fluorscent yellow / Fluorscent yellow</li>
      <li>Location: Sandhurst Recreation Ground, tn34 2sw</li>
    </ul>
    <ul>
      <li>Manager: Jamie Mitchell<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - HASTINGS UNITED YOUTH Under 11's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - HASTINGS UNITED YOUTH</li>
      <li>Colours: fluorescent yellow / fluorescent yellow</li>
      <li>Location: Sandhurst, TN34 2SW</li>
    </ul>
    <ul>
      <li>Manager: Dave Cramp<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - HASTINGS UNITED YOUTH U12 Under 12's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - HASTINGS UNITED YOUTH U12</li>
      <li>Colours: Fluorescent Yellow / Fluorescent Yellow</li>
      <li>Location: Sandhurst Recreation ground, tn34 2sw</li>
    </ul>
    <ul>
      <li>Manager: Chris Aird<br>
      </li>
      <li>Tel: <a href="tel:07979032011">07979032011</a><br>
      </li>
      <li>Email: <a href="mailto:chrisaird68@gmail.com">chrisaird68@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - Hastings Utd Youth Colts Under 12's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - Hastings Utd Youth Colts</li>
      <li>Colours: Fluorescent Yellow / Fluorescent Yellow</li>
      <li>Location: Sandhurst Recreation Ground, TN34 2SW</li>
    </ul>
    <ul>
      <li>Manager: Brian Peacock<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - Hastings utd Youth Jaguars Under 12's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - Hastings utd Youth Jaguars</li>
      <li>Colours: Fluorescent Yellow / Fluorescent Yellow</li>
      <li>Location: SANDHURST RECREATION GROUND, TN34 2SW</li>
    </ul>
    <ul>
      <li>Manager: Trevor Plant<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hastings United Youth - Hastings United Youth Under 13's</h5>
    </div>
    <ul>
      <li>Team: Hastings United Youth - Hastings United Youth</li>
      <li>Colours: Flurorescent Yellow / Flurorescent Yellow</li>
      <li>Location: sandhurst recreation ground, tn34 2sw</li>
    </ul>
    <ul>
      <li>Manager: Tony Field<br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
