 <table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <h2><strong>HASTINGS UNITED YOUTH FC</strong></h2>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> CHRIS  AIRD<br />01424855655 / chrisaird68@gmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - HASTINGS UNITED YOUTH<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: PATRICK  NZELI</strong></p>
               <p><strong>Email:</strong> pnzeli@gmail.com<br /><strong>Phone:</strong> 07888109449</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - HASTINGS UNITED YOUTH<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: PATRICK  NZELI</strong></p>
               <p><strong>Email:</strong> pnzeli@gmail.com<br /><strong>Phone:</strong> 07888109449</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - Colts<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: PATRICK  NZELI</strong></p>
               <p><strong>Email:</strong> pnzeli@gmail.com<br /><strong>Phone:</strong> 07888109449</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - HASTINGS UNITED YOUTH<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Nathan GRINHAM</strong></p>
               <p><strong>Email:</strong> nathanggrinham@hotmail.com<br /><strong>Phone:</strong> 07432591247</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - HASTINGS UNITED YOUTH<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: DAVID CRAMP</strong></p>
               <p><strong>Email:</strong> info@dc-plumbing-heating.co.uk<br /><strong>Phone:</strong> 07971811121</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - HASTINGS UNITED YOUTH<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: DENIS IRELAND</strong></p>
               <p><strong>Email:</strong> dennisireland71@live.co.uk<br /><strong>Phone:</strong> 07508776796</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - Colts<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: BRIAN Peacock</strong></p>
               <p><strong>Email:</strong> brian1970_24@hotmail.com<br /><strong>Phone:</strong> 07341332011</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - JAGUARS<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: BRIAN Peacock</strong></p>
               <p><strong>Email:</strong> brian1970_24@hotmail.com<br /><strong>Phone:</strong> 07341332011</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - HASTINGS UNITED YOUTH<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: TONY Field</strong></p>
               <p><strong>Email:</strong> Tony69field1986@hotmail.co.uk<br /><strong>Phone:</strong> 07400776543</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Hastings United Youth - Colts<br /><strong>Colours:</strong> FLUROSCENT YELLOW / FLUROSCENT YELLOW</p>
               <p>SANDHURST - TN34 2SW</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: DENIS IRELAND</strong></p>
               <p><strong>Email:</strong> dennisireland71@live.co.uk<br /><strong>Phone:</strong> 07508776796</p>
            </td>
         </tr>
      </table>
