<h2 id="hawkhurst"><strong>Hawkhurst United Junior FC</strong></h2>

{% include kit.html top="#ff0000" top2="#ffffff" shorts="#000000" socks="#000000" %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
        
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Mervyn  Skeet<br />01580 240072 / mervyn510@btinternet.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Hawkhurst - Hawkhurst United<br /><strong>Colours:</strong> RED/WHITE / BLACK</p>
               <p>CONGHURST CRICKET CLUB - TN18 4RJ</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Iain Dodson</strong></p>
               <p><strong>Email:</strong> iain.dodson@parkeray.co.uk<br /><strong>Phone:</strong> 07970 137974</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 15's</strong></p>
               <p><strong>Team:</strong> Hawkhurst - Hawkhurst United<br /><strong>Colours:</strong> RED/WHITE / BLACK</p>
               <p>BENENDEN RECREATION GROUND - TN17 4DE</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Zoe  Allen</strong></p>
               <p><strong>Email:</strong> zoeelaineallen@sky.com<br /><strong>Phone:</strong> 07882 142853</p>
            </td>
         </tr>
      </table>
