<h2 id="hawkhurst"><strong>Hawkhurst United Junior FC</strong></h2>

<p>{% include kit.html top="#ff0000" top2="#ffffff" shorts="#000000" socks="#000000" %}
  
  
</p>
<p>Club Secretary: Mervyn Skeet<br>
  Tel: <a href="tel:07881805076">07881805076</a><br>
Email: <a href="mailto:mervyn510@btinternet.com">mervyn510@btinternet.com</a></p>
<div>
  <div>
    <div>
      <h5>Hawkhurst United JFC - Hawkhurst United Under 12's</h5>
    </div>
    <ul>
      <li>Team: Hawkhurst United JFC - Hawkhurst United</li>
      <li>Colours: Red/White / Black</li>
      <li>Location: Conghurst Cricket Club, TN18 4RJ</li>
    </ul>
    <ul>
      <li>Manager: Brunel Woods<br>
      </li>
      <li>Tel: <a href="tel:07850915086">07850915086</a><br>
      </li>
      <li>Email: <a href="mailto:brunel.woods@sky.com">brunel.woods@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hawkhurst United JFC - Hawkhurst United Under 15's</h5>
    </div>
    <ul>
      <li>Team: Hawkhurst United JFC - Hawkhurst United</li>
      <li>Colours: Red/White / Black</li>
      <li>Location: Conghurst Cricket Club, TN18 4RJ</li>
    </ul>
    <ul>
      <li>Manager: Iain Dodson<br>
      </li>
      <li>Tel: <a href="tel:07970137974">07970137974</a><br>
      </li>
      <li>Email: <a href="mailto:iain.dodson@parkeray.co.uk">iain.dodson@parkeray.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hawkhurst United JFC - Hawkhurst United Under 16's</h5>
    </div>
    <ul>
      <li>Team: Hawkhurst United JFC - Hawkhurst United</li>
      <li>Colours: Red/White / Black</li>
      <li>Location: Benenden Recreation Ground, TN17 4DE</li>
    </ul>
    <ul>
      <li>Manager: Zoe Allen<br>
      </li>
      <li>Tel: <a href="tel:07882142853">07882142853</a><br>
      </li>
      <li>Email: <a href="mailto:zoeelaineallen@sky.com">zoeelaineallen@sky.com</a></li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
