<h2 id="hawkhurst"><strong>Hawkhurst United Junior FC</strong></h2>

<p>{% include kit.html top="#ff0000" top2="#ffffff" shorts="#000000" socks="#000000" %}
  
  
</p>

			
<p>Club Secretary: Jessica Gould<br>
  Tel: <a href="tel:07814057738">07814057738</a><br>
Email: <a href="mailto:hawkhurstunitedjfc@gmail.com">hawkhurstunitedjfc@gmail.com</a></p>

<p>Club Welfare Officer: Jessica Gould
<br>
  Tel: <a href="tel:07814057738">07814057738</a><br>
Email: <a href="mailto:hawkhurstunitedjfc@gmail.com">hawkhurstunitedjfc@gmail.com</a></p>

