

<h2 id="hollington_united_fc"><strong>Hollington United Football Club </strong></h2>

<p>{% include kit.html top="#0000ff" top2="#0000ff" shorts="#0000ff" socks="#0000ff" %}
</p>
<p>
Club Secretary: Christopher  Burton <br>
Tel: <a href="tel:07514478395">07514478395</a><br>
Email: <a href="mailto:Hollingtonunitedfootballclub@gmail.com">hollingtonunitedfootballclub@gmail.com</a> 
</p>

<p>
Welfare Secretary: Christopher  Aird<br>
Tel: <a href="tel:07979032011">07979032011</a><br>
Email: <a href="mailto:chrisaird68@gmail.com">chrisaird68@gmail.com</a> 
</p>
