 <h2 id="hollington"><strong>Hollington United Youth FC</strong></h2>

<p>{% include kit.html top="#0000FF" top2="#000000" shorts="#000000" socks="#000000" %}
  
  
</p>
<p>Club Secretary: Kirsty Fuller<br>
  Tel: <a href="tel:07572078668">07572078668</a><br>
Email: <a href="mailto:kirsty.hollingtonunitedyouth@gmail.com">kirsty.hollingtonunitedyouth@gmail.com</a> / 
 <a href="mailto: mrskirstyfuller@gmail.com">mrskirstyfuller@gmail.com
</a></p>

<p>Club Welfare Officer: Scott Price
r<br>
  Tel: <a href="tel:07895705273">07895705273</a><br>
Email: <a href="mailto: scottprice2511@gmail.com">scottprice2511@gmail.com
</a></p>
