 <h2 id="hollington"><strong>Hollington United Youth FC</strong></h2>

<p>{% include kit.html top="#0000FF" top2="#000000" shorts="#000000" socks="#000000" %}</p>
<p>Club Secretary: James Glavin<br>
  Tel: <a href="tel:07757213636">07757213636</a><br>
Email: <a href="mailto:hollingtonhawks@gmail.comm">hollingtonhawks@gmail.com<</a></p>

<p>Club Welfare Officer: Scott Price
r<br>
  Tel: <a href="tel:07895705273">07895705273</a><br>
Email: <a href="mailto: scottprice2511@gmail.com">scottprice2511@gmail.com
</a></p>
