<h2 id="hooe"><strong>Hooe</strong></h2>

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
        
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Jay Skinner-Swain<br />07713950161 / jay19942009@hotmail.co.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Hooe Sports FC - Hooe<br /><strong>Colours:</strong> GREEN / GREEN</p>
               <p>HOOE REC - TN33 9HU</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Richard Hoyland </strong></p>
               <p><strong>Email:</strong> Richard.Hoyland@rother.gov.uk<br /><strong>Phone:</strong> ‭07889 936598‬</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Hooe Sports FC - Hooe<br /><strong>Colours:</strong> GREEN / GREEN </p>
               <p>HOOE REC - TN33 9HU</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Jay Skinner-Swain</strong></p>
               <p><strong>Email:</strong> jay19942009@hotmail.co.uk<br /><strong>Phone:</strong> 07713950161</p>
            </td>
         </tr>
      </table>
