<h2 id="hooe"><strong>Hooe</strong></h2>

<p>{% include kit.html top="#00ff00" top2="#00ff00" shorts="#00ff00" socks="#00ff00" %}
  
  
</p>
<p>Club Secretary: Jay Skinner-Swain<br>
  Tel: <a href="tel:07713950161">07713950161</a><br>
Email: <a href="mailto:jay19942009@hotmail.co.uk">jay19942009@hotmail.co.uk</a></p>
<div>
  <div>
    <div>
      <h5>Hooe Sports FC Under 7's</h5>
    </div>
    <ul>
      <li>Team: Hooe Sports FC</li>
      <li>Colours: Green / Green</li>
      <li>Location: Hooe Rec, tn33 9el</li>
    </ul>
    <ul>
      <li>Manager: Richard Hoyland<br>
      </li>
      <li>Tel: <a href="tel:07889936598">07889936598</a><br>
      </li>
      <li>Email: <a href="mailto:richard.hoyland@rother.gov.uk">richard.hoyland@rother.gov.uk</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hooe Sports FC Under 11's</h5>
    </div>
    <ul>
      <li>Team: Hooe Sports FC</li>
      <li>Colours: Green / Green</li>
      <li>Location: Hooe Rec, tn33 9el</li>
    </ul>
    <ul>
      <li>Manager: Jay Skinner-Swain<br>
      </li>
      <li>Tel: <a href="tel:07713950161">07713950161</a><br>
      </li>
      <li>Email: <a href="mailto:jay19942009@hotmail.co.uk">jay19942009@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hooe Sports FC Under 11's</h5>
    </div>
    <ul>
      <li>Team: Hooe Sports FC</li>
      <li>Colours: Green / Green</li>
      <li>Location: Hooe Rec, tn33 9el</li>
    </ul>
    <ul>
      <li>Manager: Jay Skinner-Swain<br>
      </li>
      <li>Tel: <a href="tel:07713950161">07713950161</a><br>
      </li>
      <li>Email: <a href="mailto:jay19942009@hotmail.co.uk">jay19942009@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hooe Sports FC Under 12's</h5>
    </div>
    <ul>
      <li>Team: Hooe Sports FC</li>
      <li>Colours: Green / Green</li>
      <li>Location: Hooe Rec, Tn33 9el</li>
    </ul>
    <ul>
      <li>Manager: Ben McNicol<br>
      </li>
      <li>Tel: <a href="tel:07927475912">07927475912</a><br>
      </li>
      <li>Email: <a href="mailto:benmcnicolref@gmail.com">benmcnicolref@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
