<h2 id="horam_and_heathfield"><strong>Horam &amp; Heathfield</strong></h2>

<p>{% include kit.html top="#0000FF" top2="#FF0000" shorts="#0000FF" socks="#0000FF" %}
</p>
<p>Club Secretary: Ollie Powell<br>
  Tel: <a href="tel:07707085317">07707085317</a><br>
Email: <a href="mailto:ollie_powell@hotmail.co.uk">ollie_powell@hotmail.co.uk</a></p>
<div>
<div>
  <h5>Horam &amp; Heathfield - Horam &amp; Heathfield Under 12's</h5>
</div>
<ul>
  <li>Team: Horam &amp; Heathfield - Horam &amp; Heathfield</li>
  <li>Colours: Blue and Red / Blue</li>
  <li>Location: Horam Recreaction Ground, TN21 0YD</li>
</ul>
<ul>
  <li>Manager: Ollie Powell<br>
  </li>
  <li>Tel: <a href="tel:07707085317">07707085317</a><br>
  </li>
  <li>Email: <a href="mailto:ollie_powell@hotmail.co.uk">ollie_powell@hotmail.co.uk</a></li>
</ul>
</div>
<p>&nbsp;</p>

