  <h2 id="hurst_green"><strong>Hurst Green Football Club</strong></h2>

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
       
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Terry Sands<br />01580 720475 / hurstgreenfc@gmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Hurst Green - Hurst Green FC<br /><strong>Colours:</strong> GREEN/RED / GREEN/RED</p>
               <p>LAMBERHURST PLAYING FIELDS - TN3 8DB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Terry Sands</strong></p>
               <p><strong>Email:</strong> thrssnds@btinternet.com<br /><strong>Phone:</strong> 07904530820</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Hurst Green - Hurst Green FC<br /><strong>Colours:</strong> GREEN/RED / GREEN/RED</p>
               <p>LAMBERHURST PLAYING FIELDS - TN3 8DB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Nick Northover</strong></p>
               <p><strong>Email:</strong> nnorthover@gmail.com<br /><strong>Phone:</strong> 07775020620</p>
            </td>
         </tr>
      </table>
