<h2 id="hurst_green"><strong>Hurst Green Football Club</strong></h2>

<p>{% include kit.html top="#00ff00" top2="#ff0000" shorts="#ff0000" socks="#00ff00" %}
  
  
</p>
<p>Club Secretary: Terry Sands<br>
  Tel: <a href="tel:07904530820">07904530820</a><br>
Email: <a href="mailto:hurstgreenfootballclub@outlook.com">hurstgreenfootballclub@outlook.com</a></p>
<div>
  <div>
    <div>
      <h5>Hurst Green FC Under 11's</h5>
    </div>
    <ul>
      <li>Team: Hurst Green FC</li>
      <li>Colours: Green / Green</li>
      <li>Location: Lamberhurst Playing Fields, TN3 8DD</li>
    </ul>
    <ul>
      <li>Manager: Nick Northover<br>
      </li>
      <li>Tel: <a href="tel:07775020620">07775020620</a><br>
      </li>
      <li>Email: <a href="mailto:nnorthover@gmail.com">nnorthover@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Hurst Green FC Under 15's</h5>
    </div>
    <ul>
      <li>Team: Hurst Green FC</li>
      <li>Colours: Green / Green</li>
      <li>Location: Lamberhurst Playing Fields, TN3 8DD</li>
    </ul>
    <ul>
      <li>Manager: Terry Sands<br>
      </li>
      <li>Tel: <a href="tel:07904530820">07904530820</a><br>
      </li>
      <li>Email: <a href="mailto:thrssnds@btinternet.com">thrssnds@btinternet.com</a></li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
