<h2 id="junior_club_tackleway"><strong>Junior Club Tackleway</strong></h2>

<p>{% include kit.html top="#FFA500" top2="#FFA500" shorts="#000000" socks="#000000" %}
  
  
</p>
<p>Club Secretary: Tony Coker<br>
  Tel: <a href="tel:07799226116">07799226116</a><br>
Email: <a href="mailto:tonymcoker@yahoo.co.uk">tonymcoker@yahoo.co.uk</a></p>
<div>
  <div>
    <div>
      <h5>Junior Club Tackleway Under 9's</h5>
    </div>
    <ul>
      <li>Team: Junior Club Tackleway</li>
      <li>Colours: Orange / Black</li>
      <li>Location: Barley Lane , Tn35 5dx</li>
    </ul>
    <ul>
      <li>Manager: Tony Coker<br>
      </li>
      <li>Tel: <a href="tel:07799226116">07799226116</a><br>
      </li>
      <li>Email: <a href="mailto:tonymcoker@yahoo.co.uk">tonymcoker@yahoo.co.uk</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Junior Club Tackleway Under 10's</h5>
    </div>
    <ul>
      <li>Team: Junior Club Tackleway</li>
      <li>Colours: Orange / Black</li>
      <li>Location: Barley Lane , TN35 5DX</li>
    </ul>
    <ul>
      <li>Manager: Sam Hoare<br>
      </li>
      <li>Tel: <a href="tel:077894470873">077894470873</a><br>
      </li>
      <li>Email: <a href="mailto:sam@hoare.net">sam@hoare.net</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Junior Club Tackleway Under 13's</h5>
    </div>
    <ul>
      <li>Team: Junior Club Tackleway</li>
      <li>Colours: Orange / Black</li>
      <li>Location: Barley Lane , TN35 5DX</li>
    </ul>
    <ul>
      <li>Manager: Louis Tobin<br>
      </li>
      <li>Tel: <a href="tel:07985400563">07985400563</a><br>
      </li>
      <li>Email: <a href="mailto:tobinlouis@hotmail.co.uk">tobinlouis@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Junior Club Tackleway Under 14's</h5>
    </div>
    <ul>
      <li>Team: Junior Club Tackleway</li>
      <li>Colours: Orange / Black</li>
      <li>Location: Barley Lane , TN35 5DX</li>
    </ul>
    <ul>
      <li>Manager: Matt East<br>
      </li>
      <li>Tel: <a href="tel:07855769202">07855769202</a><br>
      </li>
      <li>Email: <a href="mailto:matty6375@sky.com">matty6375@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
