<h2 id="junior_club_tackleway"><strong>The Junior Club Tackleway</strong></h2>

<p>{% include kit.html top="#FFA500" top2="#FFA500" shorts="#000000" socks="#000000" %}
  

</p>
<p>Club Secretary: Mick Southon<br>
  Tel: <a href="tel:07981117905">07981117905</a><br>
Email: <a href="mailto:mike.southon@hotmail.co.uk">mike.southon@hotmail.co.uk</a></p>

<p>Club Welfare Officer: James Glavin<br>
  Tel: <a href="tel:07757213636">07757213636</a><br>
Email: <a href="mailto:jamesglavin1986@gmail.com">jamesglavin1986@gmail.com</a></p>
