<h2 id="kingston_village"><strong>Kingston Village FC</strong></h2>

<p>{% include kit.html top="#ff0000" top2="#ff0000" shorts="#ff0000" socks="#ff0000" %}
  
  
</p>
<p>Club Secretary: marc virlombier<br>
  Tel: <a href="tel:07776186498">07776186498</a><br>
Email: <a href="mailto:marcvirlombier@gmail.com">marcvirlombier@gmail.com</a></p>
<div>
	<div>
  <h5>Kingston Village FC - Kingston Village FC Under 16's</h5>
</div>
<ul>
  <li>Team: Kingston Village FC - Kingston Village FC</li>
  <li>Colours: Red &amp; White / Red</li>
  <li>Location: Kingston Community Pavillion, BN7 3LN</li>
</ul>
<ul>
  <li>Manager: Mat Head<br>
  </li>
  <li>Tel: <a href="tel:07746738086">07746738086</a><br>
  </li>
  <li>Email: <a href="mailto:matthead88@hotmail.com">matthead88@hotmail.com</a></li>
</ul>
</div>
<p>&nbsp;</p>
