<h2 id="kingston_village"><strong>Kingston Village FC</strong></h2>

{% include kit.html top="#ff0000" top2="#ff0000" shorts="#ff0000" socks="#ff0000" %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
       
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> marc virlombier<br />07776186498 / marcvirlombier@gmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 15's</strong></p>
               <p><strong>Team:</strong> Kingston Village FC - Kingston Village FC<br /><strong>Colours:</strong> RED / RED</p>
               <p>KINGSTON PAVILION RECREATION GROUND - BN7 3LN</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: mat head</strong></p>
               <p><strong>Email:</strong> matthead88@hotmail.com<br /><strong>Phone:</strong> 07746738086</p>
            </td>
         </tr>
      </table>
