<h2 id="little_common"><strong>Little Common Football Club</strong></h2>

<p>{% include kit.html top="#800000" top2="#0000ff" shorts="#800000" socks="#800000" %}
  
  
</p>
<p>Club Secretary: Daniel Eldridge<br>
  Tel: <a href="tel:07759125252">07759125252</a><br>
Email: <a href="mailto:danieleldridge11@btinternet.com">danieleldridge11@btinternet.com</a></p>
<div>
  <div>
    <div>
      <h5>Little Common FC - Under 12 Rovers Under 12's</h5>
    </div>
    <ul>
      <li>Team: Little Common FC - Under 12 Rovers</li>
      <li>Colours: Claret / Claret</li>
      <li>Location: Little Common Recreation Ground, Pitch 3, TN39 4PH</li>
    </ul>
    <ul>
      <li>Manager: Tony Dunn<br>
      </li>
      <li>Tel: <a href="tel:07852481413">07852481413</a><br>
      </li>
      <li>Email: <a href="mailto:tonydunn171@icloud.com">tonydunn171@icloud.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Little Common FC Under 13's</h5>
    </div>
    <ul>
      <li>Team: Little Common FC</li>
      <li>Colours: Claret &amp; Blue / Claret</li>
      <li>Location: Little Common Recreation Ground, Pitch 1, TN39 4PH</li>
    </ul>
    <ul>
      <li>Manager: Andy Atkin<br>
      </li>
      <li>Tel: <a href="tel:07843233385">07843233385</a><br>
      </li>
      <li>Email: <a href="mailto:andyatkin21@gmail.com">andyatkin21@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Little Common FC Under 7's</h5>
    </div>
    <ul>
      <li>Team: Little Common FC</li>
      <li>Colours: Claret &amp; Blue / Claret</li>
      <li>Location: Little Common Recreation Ground, Mini Pitch 1, TN39 4PH</li>
    </ul>
    <ul>
      <li>Manager: Terry Matthews<br>
      </li>
      <li>Tel: <a href="tel:07919168610">07919168610</a><br>
      </li>
      <li>Email: <a href="mailto:danieleldridge11@btinternet.com">danieleldridge11@btinternet.com</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Little Common FC Under 10's</h5>
    </div>
    <ul>
      <li>Team: Little Common FC</li>
      <li>Colours: Claret &amp; Blue / Claret</li>
      <li>Location: Little Common Recreation Ground, Mini Pitch 1, TN39 4PH</li>
    </ul>
    <ul>
      <li>Manager: Daniel Eldridge<br>
      </li>
      <li>Tel: <a href="tel:07759125252">07759125252</a><br>
      </li>
      <li>Email: <a href="mailto:danieleldridge11@btinternet.com">danieleldridge11@btinternet.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Little Common FC Under 11's</h5>
    </div>
    <ul>
      <li>Team: Little Common FC</li>
      <li>Colours: Claret &amp; Blue / Claret</li>
      <li>Location: Little Common Recreation Ground, Pitch 3, TN39 4PH</li>
    </ul>
    <ul>
      <li>Manager: Jason Gearing<br>
      </li>
      <li>Tel: <a href="tel:07984633469">07984633469</a><br>
      </li>
      <li>Email: <a href="mailto:jason.gearing@yahoo.com">jason.gearing@yahoo.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Little Common FC Under 11's</h5>
    </div>
    <ul>
      <li>Team: Little Common FC</li>
      <li>Colours: Claret &amp; Blue / Claret</li>
      <li>Location: Little Common Recreation Ground, Pitch 3, TN39 4PH</li>
    </ul>
    <ul>
      <li>Manager: Jason Gearing<br>
      </li>
      <li>Tel: <a href="tel:07984633469">07984633469</a><br>
      </li>
      <li>Email: <a href="mailto:jason.gearing@yahoo.com">jason.gearing@yahoo.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Little Common FC - Minors Under 12's</h5>
    </div>
    <ul>
      <li>Team: Little Common FC - Minors</li>
      <li>Colours: Claret &amp; Blue / Claret</li>
      <li>Location: Little Common Recreation Ground, Pitch 3, TN39 4PH</li>
    </ul>
    <ul>
      <li>Manager: Russell Eldridge<br>
      </li>
      <li>Tel: <a href="tel:07834838084">07834838084</a><br>
      </li>
      <li>Email: <a href="mailto:russelleldridge@hotmail.com">russelleldridge@hotmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Little Common FC - Under 12 Colts Under 12's</h5>
    </div>
    <ul>
      <li>Team: Little Common FC - Under 12 Colts</li>
      <li>Colours: Claret &amp; Blue / Claret</li>
      <li>Location: Little Common Recreation Ground, Pitch 3, TN39 4PH</li>
    </ul>
    <ul>
      <li>Manager: Chris Eldridge<br>
      </li>
      <li>Tel: <a href="tel:07793219914">07793219914</a><br>
      </li>
      <li>Email: <a href="mailto:gaffer_284@hotmail.co.uk">gaffer_284@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
