<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <h2><strong>Little Common Football Club</strong></h2>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Daniel Eldridge<br />01424 251736 / danieleldridge11@btinternet.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> Little Common FC - Little Common Under 7<br /><strong>Colours:</strong> CLARET &amp; BLUE / CLARET</p>
               <p>LITTLE COMMON RECREATION GROUND - TN39 4PH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Chris  Eldridge</strong></p>
               <p><strong>Email:</strong> gaffer_284@hotmail.co.uk<br /><strong>Phone:</strong> 07793219914</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Little Common FC - Little Common Under 9's<br /><strong>Colours:</strong> CLARET &amp; BLUE / CLARET</p>
               <p>LITTLE COMMON RECREATION GROUND - TN39 4PH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Daniel Eldridge</strong></p>
               <p><strong>Email:</strong> danieleldridge11@btinternet.com<br /><strong>Phone:</strong> 07759125252</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Little Common FC - Little Common Under 8's<br /><strong>Colours:</strong> CLARET &amp; BLUE / CLARET</p>
               <p>LITTLE COMMON RECREATION GROUND - TN39 4PH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Daniel Eldridge</strong></p>
               <p><strong>Email:</strong> danieleldridge11@btinternet.com<br /><strong>Phone:</strong> 07759125252</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Little Common FC - Little Common Under 10's<br /><strong>Colours:</strong> CLARET &amp; BLUE / CLARET</p>
               <p>LITTLE COMMON RECREATION GROUND - TN39 4PH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Jason Gearing</strong></p>
               <p><strong>Email:</strong> danieleldridge11@btinternet.com<br /><strong>Phone:</strong> 07984633469</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Little Common FC - Little Common Under 11 Minors<br /><strong>Colours:</strong> CLARET &amp; BLUE / CLARET</p>
               <p>LITTLE COMMON RECREATION GROUND - TN39 4PH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Russell  Eldridge</strong></p>
               <p><strong>Email:</strong> russelleldridge@hotmail.com<br /><strong>Phone:</strong> 07834838084</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Little Common FC - Little Common Under 11 Colts<br /><strong>Colours:</strong> CLARET &amp; BLUE / CLARET</p>
               <p>LITTLE COMMON RECREATION GROUND - TN39 4PH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Chris Eldridge</strong></p>
               <p><strong>Email:</strong> gaffer_284@hotmail.co.uk<br /><strong>Phone:</strong> 07793219914</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Little Common FC - Little Common Under 12<br /><strong>Colours:</strong> CLARET &amp; BLUE / CLARET</p>
               <p>LITTLE COMMON RECREATION GROUND - TN39 4PH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Daniel Eldridge</strong></p>
               <p><strong>Email:</strong> danieleldridge11@btinternet.com<br /><strong>Phone:</strong> 07759125252</p>
            </td>
         </tr>
      </table>
