<ul data-spy="affix" data-offset-top="100" class="nav nav-pills nav-stacked title-case">
<li><a href="#as-eastbourne">AS Eastbourne</a></li>

<li><a href="#battle">Battle Baptists</a></li>
<li><a href="#beckley">Beckley</a></li>
<li><a href="#bexhill">Bexhill</a></li>
<li><a href="#burwash">Burwash</a></li>
<li><a href="#crowhurst">Crowhurst</a></li>
<li><a href="#eastbourne_borough">Eastbourne Borough</a></li>
<li><a href="#goudhurst">Goudhurst</a></li>
<li><a href="#hastings_athletic">Hastings Athletic</a></li>
<li><a href="#hastings_rangers">Hastings Rangers</a></li>
<li><a href="#hastings_united">Hastings United</a></li>
<li><a href="#hastings_wanderers">Hastings Wanderers</a></li>
<li><a href="#hawkhurst">Hawkhurst</a></li>
<li><a href="#hollington">Hollington</a></li>
<li><a href="#hooe">Hooe</a></li>
<li><a href="#hurst_green">Hurst Green</a></li>

<li><a href="#junior_club_tackleway">Junior Club Tackleway</a></li>
<li><a href="#kingston_village">Kingston Village</a></li>
<li><a href="#little_common">Little Common</a></li>
<li><a href="#ringmer_rovers">Ringmer Rovers</a></li>
<li><a href="#robertsbridge">Robertsbridge</a></li>
<li><a href="#rye_bay">Rye Bay</a></li>
<li><a href="#sc_pass_move">SC Pass &amp; Move</a></li>
<li><a href="#sedlescombe">Sedlescombe</a></li>
<li><a href="#wadhurst">Wadhurst</a></li>
<li><a href="#weald_wolves">Weald Wolves</a></li>
<li><a href="#westfield">Westfield</a></li>
<li><a href="#wittersham">Wittersham</a></li>
</ul>
