<ul data-spy="affix" data-offset-top="100" class="nav nav-pills nav-stacked title-case">
<li><a href="#as-eastbourne">AS Eastbourne</a></li>

<li><a href="#battle">battle</a></li>
<li><a href="#beckley">beckley</a></li>
<li><a href="#bexhill">bexhill</a></li>
<li><a href="#burwash">burwash</a></li>
<li><a href="#crowhurst">crowhurst</a></li>
<li><a href="#eastbourne_borough">eastbourne borough</a></li>
<li><a href="#goudhurst">goudhurst</a></li>
<li><a href="#hastings_athletic">hastings athletic</a></li>
<li><a href="#hastings_rangers">hastings rangers</a></li>
<li><a href="#hastings_united">hastings united</a></li>
<li><a href="#hastings_wanderers">hastings wanderers</a></li>
<li><a href="#hawkhurst">hawkhurst</a></li>
<li><a href="#hollington">hollington</a></li>
<li><a href="#hooe">hooe</a></li>
<li><a href="#hurst_green">hurst green</a></li>

<li><a href="#junior_club_tackleway">junior club tackleway</a></li>
<li><a href="#kingston_village">kingston village</a></li>
<li><a href="#little_common">little common</a></li>
<li><a href="#ringmer_rovers">ringmer rovers</a></li>
<li><a href="#robertsbridge">robertsbridge</a></li>
<li><a href="#rye_bay">rye bay</a></li>
<li><a href="#sc_pass_move">sc pass move</a></li>
<li><a href="#sedlescombe">sedlescombe</a></li>
<li><a href="#wadhurst">wadhurst</a></li>
<li><a href="#weald_wolves">weald_wolves</a></li>
<li><a href="#westfield">westfield</a></li>
<li><a href="#wittersham">wittersham</a></li>
</ul>
