
<h2 id="ore_irons_fc"><strong>Ore Irons FC</strong></h2>

<p>{% include kit.html top="#000080" top2="#ADD8E6" shorts="#000080" socks="#000080" %}
</p>
<p>
Club Secretary: Justine Fraser<br>
Tel: <a href="tel:07504113943">07504113943</a><br>
Email: <a href="mailto:secretary@oreirons.com">secretary@oreirons.com</a> 
</p>

<p>
Welfare Secretary: Justine Fraser<br>
Tel: <a href="tel:07504113943">07504113943</a><br>
Email: <a href="mailto:safeguarding@oreirons.com">safeguarding@oreirons.com</a> 
</p>
