
<h2 id="pevensey_westham"><strong>Pevensey & Westham JFC</strong></h2>	


<p>{% include kit.html top="#000080" top2="#000080" shorts="#000080" socks="#000080" %}
</p>
<p>
	Club Secretary: Caroline Madelin <br>
	Tel: <a href="tel:07718915315">07718915315</a><br>
	Email: <a href="mailto:pevenseyfootballsec@outlook.com">pevenseyfootballsec@outlook.com</a>
</p>

<p>
	Club Welfare Officer: Amy Curtis <br>
	Tel: <a href="tel:07809729281">07809729281</a><br>
	Email: <a href="mailto:amyjcurtis@me.com">amyjcurtis@me.com</a>
</p>

