<h2 id="play_sport"><strong>Play Sport FC</strong></h2>

<p>{% include kit.html top="#008000" top2="#000000" shorts="#000080" socks="#800080" %}</p>

<p>
 Club Secretary: Christopher  Burton<br>
  Tel: <a href="tel:07413420198">07413420198</a><br>
Email: <a href="mailto:cburtontn38@gmail.com">cburtontn38@gmail.com</a>
</p>

<p>
Club Welfare Officer: David  Cramp<br>
  Tel: <a href="tel:07971811121">07971811121</a><br>
Email: <a href="mailto:crampy84@hotmail.co.uk">crampy84@hotmail.co.uk</a>
</p>
