<h2 id="polgate_panthers"><strong>Polegate Panthers</strong></h2>

<p>{% include kit.html top="#800080" top2="#FFFFFF" shorts="#800080" socks="#800080" %}</p>
<p>Club Secretary: Geoff Moule<br>
  Tel: <a href="tel:07902191651">07902191651</a><br>
Email: <a href="mailto:polegatepanthersfc@gmail.com">polegatepanthersfc@gmail.com</a></p>
<div>
	<div>
  <h5>Polegate Panthers FC - Polegate Panthers FC Under 13's</h5>
</div>
<ul>
  <li>Team: Polegate Panthers FC - Polegate Panthers FC</li>
  <li>Colours: Purple and White / Purple</li>
  <li>Location: War Memorial Recreational Ground, Wannock Road, Polegate, BN26 5JG</li>
</ul>
<ul>
  <li>Manager: Geoff Moule<br>
  </li>
  <li>Tel: <a href="tel:07902191651">07902191651</a><br>
  </li>
  <li>Email: <a href="mailto:geoff.moulegm@gmail.com">geoff.moulegm@gmail.com</a></li>
</ul>
</div>
<p>&nbsp;</p>
