<h2 id="ringmer_rovers"><strong>Ringmer Rovers Junior Football Club</strong></h2>

{% include kit.html top="#000080" shorts="#000080" socks="#000080" %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
       
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Catherine  Kelly<br />07747616051 / secretary@ringmerrovers.org.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Ringmer Rovers JFC - Ringmer Rovers White<br /><strong>Colours:</strong> NAVY BLUE / NAVY BLUE</p>
               <p>KINGS ACADEMY RINGMER - BN8 5RA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Neil  Linstrem</strong></p>
               <p><strong>Email:</strong> n.j.linstrem@sussex.ac.uk<br /><strong>Phone:</strong> 07547008514</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Ringmer Rovers JFC - Blue<br /><strong>Colours:</strong> NAVY BLUE / NAVY BLUE</p>
               <p>KINGS ACADEMY RINGMER - BN8 5RA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Neil Linstrem</strong></p>
               <p><strong>Email:</strong> n.j.linstrem@sussex.ac.uk<br /><strong>Phone:</strong> 07547008514</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Ringmer Rovers JFC - Ringmer Rovers<br /><strong>Colours:</strong> NAVY BLUE / NAVY BLUE</p>
               <p>KINGS ACADEMY RINGMER - BN8 5RA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Gary Holder</strong></p>
               <p><strong>Email:</strong> gaho02@handelsbanken.co.uk<br /><strong>Phone:</strong> 07955725052</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 13's</strong></p>
               <p><strong>Team:</strong> Ringmer Rovers JFC - Ringmer Rovers Whites<br /><strong>Colours:</strong> NAVY BLUE / NAVY BLUE</p>
               <p>KINGS ACADEMY RINGMER - BN8 5RA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Andy Elms</strong></p>
               <p><strong>Email:</strong> andy.elms69@hotmail.co.uk<br /><strong>Phone:</strong> 07904873929</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 15's</strong></p>
               <p><strong>Team:</strong> Ringmer Rovers JFC - Ringmer Rovers<br /><strong>Colours:</strong> NAVY BLUE / NAVY BLUE</p>
               <p>KINGS ACADEMY RINGMER - BN8 5RA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Nigel Morris</strong></p>
               <p><strong>Email:</strong> nigel@pixelagent.co.uk<br /><strong>Phone:</strong> 07766006809</p>
            </td>
         </tr>
      </table>
