<h2 id="ringmer_rovers"><strong>Ringmer Rovers Junior Football Club</strong></h2>

<p>{% include kit.html top="#000080" top2="#000080" shorts="#000080" socks="#000080" %}
  
  
</p>
<p>Club Secretary: Catherine Kelly<br>
  Tel: <a href="tel:07747616051">07747616051</a><br>
Email: <a href="mailto:secretary@ringmerrovers.org.uk">secretary@ringmerrovers.org.uk</a></p>
<div>
  <div>
    <div>
      <h5>Ringmer Rovers JFC - Ringmer Rovers Rockets Under 8's</h5>
    </div>
    <ul>
      <li>Team: Ringmer Rovers JFC - Ringmer Rovers Rockets</li>
      <li>Colours: Navy Blue / Navy Blue</li>
      <li>Location: Kings Academy Ringmer, BN8 5RB</li>
    </ul>
    <ul>
      <li>Manager: Neil Burman<br>
      </li>
      <li>Tel: <a href="tel:07976357081">07976357081</a><br>
      </li>
      <li>Email: <a href="mailto:neil@ringmerrovers.org.uk">neil@ringmerrovers.org.uk</a><br>
      </li>
    </ul>
  </div>
</div>

<div>
  <div>
    <div>
      <h5>Ringmer Rovers JFC - Ringmer Rovers Raptors Under 8's</h5>
    </div>
    <ul>
      <li>Team: Ringmer Rovers JFC - Ringmer Rovers Raptors</li>
      <li>Colours: Navy Blue / Navy Blue</li>
      <li>Location: Kings Academy Ringmer, BN8 5RB</li>
    </ul>
    <ul>
      <li>Manager: Neil Burman<br>
      </li>
      <li>Tel: <a href="tel:07976357081">07976357081</a><br>
      </li>
      <li>Email: <a href="mailto:neil@ringmerrovers.org.uk">neil@ringmerrovers.org.uk</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Ringmer Rovers JFC - Ringmer Rovers JFC Whites Under 10's</h5>
    </div>
    <ul>
      <li>Team: Ringmer Rovers JFC - Ringmer Rovers JFC Whites</li>
      <li>Colours: Navy Blue / Navy Blue</li>
      <li>Location: Kings Academy Ringmer, BN8 5RB</li>
    </ul>
    <ul>
      <li>Manager: James Warren<br>
      </li>
      <li>Tel: <a href="tel:07771872584">07771872584</a><br>
      </li>
      <li>Email: <a href="mailto:jimmy22t@hotmail.co.uk">jimmy22t@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Ringmer Rovers JFC - Ringmer Rovers JFC Blues Under 10's</h5>
    </div>
    <ul>
      <li>Team: Ringmer Rovers JFC - Ringmer Rovers JFC Blues</li>
      <li>Colours: Navy Blue / Navy Blue</li>
      <li>Location: Kings Academy Ringmer, BN8 5RB</li>
    </ul>
    <ul>
      <li>Manager: James Warren<br>
      </li>
      <li>Tel: <a href="tel:07771872584">07771872584</a><br>
      </li>
      <li>Email: <a href="mailto:jimmy22t@hotmail.co.uk">jimmy22t@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Ringmer Rovers JFC - Ringmer Rovers Under 12's</h5>
    </div>
    <ul>
      <li>Team: Ringmer Rovers JFC - Ringmer Rovers</li>
      <li>Colours: Navy Blue / Navy Blue</li>
      <li>Location: Kings Academy Ringmer, BN8 5RB</li>
    </ul>
    <ul>
      <li>Manager: Gary Holder<br>
      </li>
      <li>Tel: <a href="tel:07955725052">07955725052</a><br>
      </li>
      <li>Email: <a href="mailto:gary50@sky.com">gary50@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Ringmer Rovers JFC - Ringmer Rovers Under 14's</h5>
    </div>
    <ul>
      <li>Team: Ringmer Rovers JFC - Ringmer Rovers</li>
      <li>Colours: Navy Blue / Navy Blue</li>
      <li>Location: Kings Academy Ringmer, BN8 5RB</li>
    </ul>
    <ul>
      <li>Manager: Richard Collins<br>
      </li>
      <li>Tel: <a href="tel:07769200846">07769200846</a><br>
      </li>
      <li>Email: <a href="mailto:richard1604.rc@gmail.com">richard1604.rc@gmail.com</a>
</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Ringmer Rovers JFC - Ringmer Rovers Under 16's</h5>
    </div>
    <ul>
      <li>Team: Ringmer Rovers JFC - Ringmer Rovers</li>
      <li>Colours: Navy Blue / Navy Blue</li>
      <li>Location: Kings Academy Ringmer, BN8 5RB</li>
    </ul>
    <ul>
      <li>Manager: Nigel Morris<br>
      </li>
      <li>Tel: <a href="tel:07766006809">07766006809</a><br>
      </li>
      <li>Email: <a href="mailto:nigel@pixelagent.co.uk">nigel@pixelagent.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>

