<h2 id="robertsbridge"><strong>Robertsbridge United Juniors</strong></h2>

<p>{% include kit.html top="#000000" top2="#ffffff" shorts="#000000" socks="#000000" %}
  

</p>
<p>Club Secretary: Janet Stone<br>
Email: <a href="mailto:jacqui369@outlook.com">jacqui369@outlook.com</a></p>
<div>
  <div>
    <div>
      <h5>Robertsbridge United Juniors - Robertsbridge United Juniors U8s Under 8's</h5>
    </div>
    <ul>
      <li>Team: Robertsbridge United Juniors - Robertsbridge United Juniors U8s</li>
      <li>Colours: Black &amp; White Stripes / Black</li>
      <li>Location: Robertsbridge Village Hall Allotment Pitch, TN32 5DA</li>
    </ul>
    <ul>
      <li>Manager: Neil Gofton<br>
      </li>
      <li>Tel: <a href="tel:07739552018">07739552018</a><br>
      </li>
      <li>Email: <a href="mailto:neil.gofton55@gmail.com">neil.gofton55@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>


<div>
  <div>
    <div>
      <h5>Robertsbridge United Juniors - Robertsbridge United Juniors U9s Under 9's</h5>
    </div>
    <ul>
      <li>Team: Robertsbridge United Juniors - Robertsbridge United Juniors U9s</li>
      <li>Colours: Black &amp; White Stripes / Black</li>
      <li>Location: Robertsbridge Village Hall Allotment Pitch, TN32 5DA</li>
    </ul>
    <ul>
      <li>Manager: Guy Van Zyl<br>
      </li>
      <li>Tel: <a href="tel:07486377881">07486377881</a><br>
      </li>
      <li>Email: <a href="mailto:guyvanzyl@yahoo.co.uk">guyvanzyl@yahoo.co.uk</a></li>
    </ul>
  </div>
</div>
<div>
  
  
  <div>
    <div>
      <h5>Robertsbridge United Juniors - Robertsbridge United Juniors U11s Under 11's</h5>
    </div>
    <ul>
      <li>Team: Robertsbridge United Juniors - Robertsbridge United Juniors U11s</li>
      <li>Colours: Black &amp; White Stripes / Black</li>
      <li>Location: Robertsbridge Village Hall Allotment Pitch, TN32 5DA</li>
    </ul>
    <ul>
      <li>Manager: Sam Baldock-Apps<br>
      </li>
      <li>Tel: <a href="tel:07833743826">07833743826</a><br>
      </li>
      <li>Email: <a href="mailto:Samuel.ba@sky.com">Samuel.ba@sky.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Robertsbridge United Juniors - Robertsbridge United Juniors U12s Under 12's</h5>
    </div>
    <ul>
      <li>Team: Robertsbridge United Juniors - Robertsbridge United Juniors U12s</li>
      <li>Colours: Black &amp; White Stripes / Black</li>
      <li>Location: Robertsbridge Vilage Hall Allotment Pitch, TN32 5DA</li>
    </ul>
    <ul>
      <li>Manager: Richard Isaac<br>
      </li>
      <li>Tel: <a href="tel:07766135627">07766135627</a><br>
      </li>
      <li>Email: <a href="mailto:rich-express@hotmail.co.uk">rich-express@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Robertsbridge United Juniors - Robertsbridge United Juniors U13s Under 13's</h5>
    </div>
    <ul>
      <li>Team: Robertsbridge United Juniors - Robertsbridge United Juniors U13s</li>
      <li>Colours: Black &amp; White Stripes / Black</li>
      <li>Location: Robertsbridge Community College, TN32 5EA</li>
    </ul>
    <ul>
      <li>Manager: Roy Bishop<br>
      </li>
      <li>Tel: <a href="tel:07757359137">07757359137</a><br>
      </li>
      <li>Email: <a href="mailto:bishbeardsley@hotmail.co.uk">bishbeardsley@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Robertsbridge United Juniors - Robertsbridge United Juniors U14s Under 14's</h5>
    </div>
    <ul>
      <li>Team: Robertsbridge United Juniors - Robertsbridge United Juniors U14s</li>
      <li>Colours: Black &amp; White Stripes / Black</li>
      <li>Location: Robertsbridge Community College , TN32 5EA</li>
    </ul>
    <ul>
      <li>Manager: Lael Page<br>
      </li>
      <li>Tel: <a href="tel:07985744758">07985744758</a><br>
      </li>
      <li>Email: <a href="mailto:laelpage@ccimail.co.uk">laelpage@ccimail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
