<h2 id="robertsbridge"><strong>Robertsbridge United Juniors</strong></h2>

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
      
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Janet Stone<br />07760163306 / janetstone1@btinternet.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Robertsbridge - Robertsbridge United Juniors U9s<br /><strong>Colours:</strong> BLACK &amp; WHITE / BLACK</p>
               <p>VILLAGE HALL PITCH - TN32 5DA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Jacqueline Stone</strong></p>
               <p><strong>Email:</strong> jacqui369@outlook.com<br /><strong>Phone:</strong> 07711276900</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Robertsbridge - Robertsbridge United Juniors U10s<br /><strong>Colours:</strong> BLACK &amp; WHITE / BLACK</p>
               <p>VILLAGE HALL PITCH - TN32 5DA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Richard Isaac</strong></p>
               <p><strong>Email:</strong> rich-express@hotmail.co.uk<br /><strong>Phone:</strong> 07766135627</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Robertsbridge - Robertsbridge United Juniors U11s<br /><strong>Colours:</strong> BLACK &amp; WHITE / BLACK</p>
               <p>VILLAGE HALL PITCH - TN32 5DA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Karl  Cloutt</strong></p>
               <p><strong>Email:</strong> karl.cloutt@gmail.com<br /><strong>Phone:</strong> 07725912899</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Robertsbridge - Robertsbridge United Juniors U12s<br /><strong>Colours:</strong> BLACK &amp; WHITE / BLACK</p>
               <p>VILLAGE HALL PITCH - TN32 5DA</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Roy Bishop</strong></p>
               <p><strong>Email:</strong> bishbeardsley@hotmail.co.uk<br /><strong>Phone:</strong> 07557359137</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 13's</strong></p>
               <p><strong>Team:</strong> Robertsbridge - Robertsbridge United Juniors U13s<br /><strong>Colours:</strong> BLACK &amp; WHITE / BLACK</p>
               <p>VINEHALL SCHOOL - TN32 5JL</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Lael Page</strong></p>
               <p><strong>Email:</strong> laelpage@ccimail.co.uk<br /><strong>Phone:</strong> 07985744758</p>
            </td>
         </tr>
      </table>
