 <h2 id="rye_bay"><strong>Rye Bay Football Club</strong></h2>

<p>{% include kit.html top="#ff0000" top2="#ffffff" shorts="#ff0000" socks="#ff0000" %}
  
  
</p>
<p>Club Secretary: wendy summers<br>
  Tel: <a href="tel:07801557124">07801557124</a><br>
Email: <a href="mailto:claire2096@sky.com">claire2096@sky.com</a></p>


<div>
  <div>
    <div>
      <h5>Rye Bay FC - Rye Bay U7 Under 7's</h5>
    </div>
    <ul>
      <li>Team: Rye Bay FC - Rye Bay U7</li>
      <li>Colours: Red and white / Red</li>
      <li>Location: Harbour field , Tn36 4LX</li>
    </ul>
    <ul>
      <li>Manager: Glenn Keen<br>
      </li>
      <li>Tel: <a href="tel:07795363693">07795363693</a><br>
      </li>
      <li>Email: <a href="mailto:glennkeen74@gmail.com">glennkeen74@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Rye Bay FC - Rye Bay U8 Under 8's</h5>
    </div>
    <ul>
      <li>Team: Rye Bay FC - Rye Bay U8</li>
      <li>Colours: Red and white striped / Red</li>
      <li>Location: Harbour field , Tn36 4LX</li>
    </ul>
    <ul>
      <li>Manager: Dale Shepherd<br>
      </li>
      <li>Tel: <a href="tel:07867425814">07867425814</a><br>
      </li>
      <li>Email: <a href="mailto:Daleshepherd_1989@hotmail.com">Daleshepherd_1989@hotmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Rye Bay FC - Rye Bay White U9 Under 9's</h5>
    </div>
    <ul>
      <li>Team: Rye Bay FC - Rye Bay White U9</li>
      <li>Colours: Red and white striped / Red</li>
      <li>Location: Harbour field , Tn36 4LX</li>
    </ul>
    <ul>
      <li>Manager: Glenn Keen<br>
      </li>
      <li>Tel: <a href="tel:07795363693">07795363693</a><br>
      </li>
      <li>Email: <a href="mailto:glennkeen74@gmail.com">glennkeen74@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Rye Bay FC - Rye Bay Red U9 Under 9's</h5>
    </div>
    <ul>
      <li>Team: Rye Bay FC - Rye Bay Red U9</li>
      <li>Colours: Red and white striped / Red</li>
      <li>Location: Harbour field , Tn36 4LX</li>
    </ul>
    <ul>
      <li>Manager: Darren Paine<br>
      </li>
      <li>Email: <a href="mailto:darren@ryechimneysweep.co.uk">darren@ryechimneysweep.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Rye Bay FC - Rye Bay Black U9 Under 9's</h5>
    </div>
    <ul>
      <li>Team: Rye Bay FC - Rye Bay Black U9</li>
      <li>Colours: Red and white striped / Red</li>
      <li>Location: Harbour field, Tn36 4lx</li>
    </ul>
    <ul>
      <li>Manager: Glenn Keen <br>
      </li>
      <li>Tel: <a href="tel:07795363693">07795363693</a><br>
      </li>
      <li>Email: <a href="mailto:glennkeen74@gmail.com">glennkeen74@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Rye Bay FC - Rye Bay U10 Under 10's</h5>
    </div>
    <ul>
      <li>Team: Rye Bay FC - Rye Bay U10</li>
      <li>Colours: Red and white striped / Red</li>
      <li>Location: Harbour field , Tn36 4LX</li>
    </ul>
    <ul>
      <li>Manager: Glenn Keen<br>
      </li>
      <li>Tel: <a href="tel:07795363693">07795363693</a><br>
      </li>
      <li>Email: <a href="mailto:glennkeen74@gmail.com">glennkeen74@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Rye Bay FC - Rye Bay U11 Under 11's</h5>
    </div>
    <ul>
      <li>Team: Rye Bay FC - Rye Bay U11</li>
      <li>Colours: red and white striped / red</li>
      <li>Location: harbour field, tn364lx</li>
    </ul>
    <ul>
      <li>Manager: toby bourne<br>
      </li>
      <li>Tel: <a href="tel:07872301835">07872301835</a><br>
      </li>
      <li>Email: <a href="mailto:kayleighturner504@yahoo.co.uk">kayleighturner504@yahoo.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
