 <h2 id="rye_bay"><strong>Rye Bay Football Club</strong></h2>

<p>{% include kit.html top="#ff0000" top2="#ffffff" shorts="#ff0000" socks="#ff0000" %}
  
  
</p>
<p>Club Secretary U7-U10: Abby Viney
<br>
  Tel: <a href="tel:07376438082">07376438082</a><br>
Email: <a href="mailto:abbyryebayfc@gmail.com">abbyryebayfc@gmail.com</a></p>

<p>Club Secretary U11-U16: Charlene Dowbekin
<br>
  Tel: <a href="tel:07930026427">07930026427</a><br>
Email: <a href="mailto:charleneryebay@gmail.com">charleneryebay@gmail.com</a></p>

<p>Welfare Officer: Alana Ford<br>
  Tel: <a href="tel:07920446409">07568435704</a><br>
Email: <a href="mailto:a.mchantry@icloud.com">a.mchantry@icloud.com</a></p>

