<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <h2><strong>Rye Bay Football Club</strong></h2>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Kate Jenner<br />01797226809 / katejenner66@gmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> Rye Bay FC - Rye Bay Under 7's<br /><strong>Colours:</strong> RED AND WHITE / RED</p>
               <p>HARBOUR FIELD - TN36 4LX</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Michael Smith</strong></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Rye Bay FC - Rye Bay Under 8's Reds<br /><strong>Colours:</strong> RED AND WHITE / RED</p>
               <p>HARBOUR FIELD - TN36 4LX</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Chris Gould</strong></p>
               <p><strong>Email:</strong> chrisgould1303@gmail.com<br /><strong>Phone:</strong> 01797 226809</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Rye Bay FC - Rye Bay Under 8's Whites<br /><strong>Colours:</strong> RED AND WHITE / RED</p>
               <p>HARBOUR FIELD - TN36 4LX</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Glenn Keane</strong></p>
               <p><strong>Email:</strong> glennkeen74@gmail.com<br /><strong>Phone:</strong> 07795 363693</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Rye Bay FC - Rye Bay Under 10's<br /><strong>Colours:</strong> RED AND WHITE / RED</p>
               <p>HARBOUR FIELD - TN36 4LX</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Toby Bourne</strong></p>
               <p><strong>Email:</strong> kayleighturner504@yahoo.co.uk<br /><strong>Phone:</strong> 01797226809</p>
            </td>
         </tr>
      </table>
