<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <h2><strong>S C Pass and Move</strong></h2>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Caroline  Medhurst<br />01424256266 / scpassandmoveyouthsecretary@gmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - u7 white<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN  - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Grant Murray</strong></p>
               <p><strong>Email:</strong> Murraygrant594@gmail.com<br /><strong>Phone:</strong> 07854 367543</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U7 Green<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Jonjo Wright</strong></p>
               <p><strong>Email:</strong> jon-jowrightplumbing@hotmail.co.uk<br /><strong>Phone:</strong> 07979180562</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 7's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U7 Black<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Darren  Hutchinson</strong></p>
               <p><strong>Email:</strong> Hutchy73@hotmail.com<br /><strong>Phone:</strong> 07855818109</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U8 White <br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN  - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Dan Skelton</strong></p>
               <p><strong>Email:</strong> daniel.skelton@southernwater.co.uk<br /><strong>Phone:</strong> 07783 056055</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U8 Black<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN  - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Paul  Harrison</strong></p>
               <p><strong>Email:</strong> theharrisons23@btinternet.com<br /><strong>Phone:</strong> 07798 620319</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U9 White<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Brad Pearse</strong></p>
               <p><strong>Email:</strong> bradpearsey@gmail.com<br /><strong>Phone:</strong> 07748765052</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U9 Black <br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Luke Baldwin</strong></p>
               <p><strong>Email:</strong> lukebaldwin1@yahoo.com<br /><strong>Phone:</strong> 07872588898</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U10 Black<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Josh Paige</strong></p>
               <p><strong>Email:</strong> joshpaige2210@gmail.com<br /><strong>Phone:</strong> 07508325827</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U10 White<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Matt Amstad</strong></p>
               <p><strong>Email:</strong> matthew_amstad11@hotmail.com<br /><strong>Phone:</strong> 07432776504</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U11 White<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Darren  Hutchinson</strong></p>
               <p><strong>Email:</strong> Hutchy73@hotmail.com<br /><strong>Phone:</strong> 07855 818109</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U11 Black<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN  - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Darren Hutchinson</strong></p>
               <p><strong>Email:</strong> hutchy73@hotmail.com<br /><strong>Phone:</strong> 07855818109</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U11 Green<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>EWHURST GREEN - TN32 5TB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Darren Hutchinson</strong></p>
               <p><strong>Email:</strong> hutchy73@hotmail.com<br /><strong>Phone:</strong> 07855818109</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U12 White<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>CATSFIELD REC - TN33 9DH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Dave Ripley</strong></p>
               <p><strong>Email:</strong> david.ripley72@gmail.com<br /><strong>Phone:</strong> 07738999210</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - u12 Black<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>CATSFIELD REC - TN33 9DH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Alex Nuttney</strong></p>
               <p><strong>Email:</strong> alexnuttney@gmail.com<br /><strong>Phone:</strong> 07769317513</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 13's</strong></p>
               <p><strong>Team:</strong> S.C Pass+Move - U13 White<br /><strong>Colours:</strong> GREY / GREY</p>
               <p>ST LEONARDS ACADEMY - TN38 8HH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Harvey Fletcher</strong></p>
               <p><strong>Email:</strong> hfletcher70@gmail.com<br /><strong>Phone:</strong> 07815939182</p>
            </td>
         </tr>
      </table>
