 <h2 id="sc_pass_move"><strong>S C Pass and Move</strong></h2>

<p>{% include kit.html top="#808080" top2="#808080" shorts="#808080" socks="#808080" %}
  
  
</p>
<p>Club Secretary: Caroline Medhurst<br>
  Tel: <a href="tel:07896535937">07896535937</a><br>
Email: <a href="mailto:scpassandmoveyouthsecretary@gmail.com">scpassandmoveyouthsecretary@gmail.com</a></p>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 7 White Under 7's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 7 White</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Catsfield Recreation Ground , tn339dh</li>
    </ul>
    <ul>
      <li>Manager: Duncan Jones <br>
      </li>
      <li>Tel: <a href="tel:07974223478">07974223478</a><br>
      </li>
      <li>Email: <a href="mailto:duncan.jones@libertinelondon.com">duncan.jones@libertinelondon.com </a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 7 Black Under 7's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 7 Black</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: St Leonards Academy , tn38 8hh</li>
    </ul>
    <ul>
      <li>Manager: Louis Dargan<br>
      </li>
      <li>Tel: <a href="tel:07852807929">07852807929</a><br>
      </li>
      <li>Email: <a href="mailto:louie-d@live.co.uk">louie-d@live.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 7 Green Under 7's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 7 Green</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: St Leonards Academy , tn38 8hh</li>
    </ul>
    <ul>
      <li>Manager: Jonathan Gardner<br>
      </li>
      <li>Tel: <a href="tel:07738983300">07738983300</a><br>
      </li>
      <li>Email: <a href="mailto:jonlgardner@hotmail.co.uk">jonlgardner@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 8 White Under 8's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 8 White</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Ewhurst Green, tn32 5tb</li>
    </ul>
    <ul>
      <li>Manager: Grant Murray<br>
      </li>
      <li>Tel: <a href="tel:07854367543">07854367543</a><br>
      </li>
      <li>Email: <a href="mailto:murraygrant594@gmail.com">murraygrant594@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 8 Black Under 8's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 8 Black</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Catsfield Recreation Ground , TN33 9DH</li>
    </ul>
    <ul>
      <li>Manager: Duncan Jones<br>
      </li>
      <li>Tel: <a href="tel:07974223478">07974223478</a><br>
      </li>
      <li>Email: <a href="mailto:duncan.jones@libertinelondon.com">duncan.jones@libertinelondon.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 8 Green Under 8's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 8 Green</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Ewhurst Green , TN32 5TB</li>
    </ul>
    <ul>
      <li>Manager: Jonjo Wright<br>
      </li>
      <li>Tel: <a href="tel:07979180562">07979180562</a><br>
      </li>
      <li>Email: <a href="mailto:jon-jowrightplumbing@hotmail.co.uk">jon-jowrightplumbing@hotmail.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 9 White Under 9's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 9 White</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Ewhurst Green, TN325TB</li>
    </ul>
    <ul>
      <li>Manager: Dan Skelton<br>
      </li>
      <li>Tel: <a href="tel:07783056055">07783056055</a><br>
      </li>
      <li>Email: <a href="mailto:daniel.skelton@southernwater.co.uk">daniel.skelton@southernwater.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 9 Black Under 9's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 9 Black</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Ewhurst Green, TN32 5TB</li>
    </ul>
    <ul>
      <li>Manager: Paul Harrison<br>
      </li>
      <li>Tel: <a href="tel:07798620319">07798620319</a><br>
      </li>
      <li>Email: <a href="mailto:theharrisons23@btinternet.com">theharrisons23@btinternet.com</a></li>
    </ul>
  </div>
</div>

<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 10 Black Under 10's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 10 Black</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Ewhurst Green, tn32 5tb</li>
    </ul>
    <ul>
      <li>Manager: Luke Baldwin<br>
      </li>
      <li>Tel: <a href="tel:07872588898">07872588898</a><br>
      </li>
      <li>Email: <a href="mailto:lukebaldwin1@yahoo.co.uk">lukebaldwin1@yahoo.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 10 White Under 10's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 10 White</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Ewhurst Green, tn32 5tb</li>
    </ul>
    <ul>
      <li>Manager: Brad Pearse<br>
      </li>
      <li>Tel: <a href="tel:07748765052">07748765052</a><br>
      </li>
      <li>Email: <a href="mailto:bradpearsey@gmail.com">bradpearsey@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 11 White Under 11's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 11 White</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Ewhurst Green , tn32 5tb</li>
    </ul>
    <ul>
      <li>Manager: Matt Amstad<br>
      </li>
      <li>Tel: <a href="tel:07432776504">07432776504</a><br>
      </li>
      <li>Email: <a href="mailto:matthew_amstad11@hotmail.com">matthew_amstad11@hotmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 11 Black Under 11's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 11 Black</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Ewhurst Green, tn32 5tb</li>
    </ul>
    <ul>
      <li>Manager: Josh Paige<br>
      </li>
      <li>Tel: <a href="tel:07508325827">07508325827</a><br>
      </li>
      <li>Email: <a href="mailto:joshpaige2210@gmail.com">joshpaige2210@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 12 White Under 12's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 12 White</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Catsfield Recreation Ground, tn33 9dh</li>
    </ul>
    <ul>
      <li>Manager: Brandon Kovacs<br>
      </li>
      <li>Tel: <a href="tel:07709621280">07709621280</a><br>
      </li>
      <li>Email: <a href="mailto:brandonkovacs98@gmail.com">brandonkovacs98@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 13 White Under 13's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 13 White</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Catsfield Recreation Ground, tn33 9dh</li>
    </ul>
    <ul>
      <li>Manager: David Ripley<br>
      </li>
      <li>Tel: <a href="tel:07738999210">07738999210</a><br>
      </li>
      <li>Email: <a href="mailto:david.ripley72@gmail.com">david.ripley72@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 13 Black Under 13's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 13 Black</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Catsfield Recreation Ground , tn33 9dh</li>
    </ul>
    <ul>
      <li>Manager: Alex Nuttney<br>
      </li>
      <li>Tel: <a href="tel:07769317513">07769317513</a><br>
      </li>
      <li>Email: <a href="mailto:alexnuttney@gmail.com">alexnuttney@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 14 White Under 14's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 14 White</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: St Leonards Academy , tn38 8hh</li>
    </ul>
    <ul>
      <li>Manager: Harvey Fletcher<br>
      </li>
      <li>Tel: <a href="tel:07815939182">07815939182</a><br>
      </li>
      <li>Email: <a href="mailto:hfletcher70@gmail.com">hfletcher70@gmail.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>S.C Pass+Move - Under 15 Under 15's</h5>
    </div>
    <ul>
      <li>Team: S.C Pass+Move - Under 15</li>
      <li>Colours: Grey / Grey</li>
      <li>Location: Catsfield Recreation Ground , tn33 9dh</li>
    </ul>
    <ul>
      <li>Manager: Andy Golding <br>
      </li>
      <li>Tel: <a href="tel:07464691611">07464691611</a><br>
      </li>
      <li>Email: <a href="mailto:agolding07@outlook.com">agolding07@outlook.com</a><br>
      </li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
