<h2 id="sedlescombe"><strong>Sedlescombe Rangers FC</strong></h2>

<p>{% include kit.html top="#0000ff" top2="#0000ff" shorts="#0000ff" socks="#0000ff" %}</p>
<p>Club Secretary: Matt Noonan<br>
  
Email: <a href="mailto:mattn@sedlescomberangersfc.co.uk">mattn@sedlescomberangersfc.co.uk</a></p>
<div>
  <div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers fc Under 7's</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers fc</li>
      <li>Colours: Blue / Blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: Nick Gardner<br>
      </li>

       <li>Manager:  Adam Baxter<br>
      </li>
     

    </ul>
  </div>
  <div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers Under 8's</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers</li>
      <li>Colours: blue / blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: David Brown<br>
      </li>
     
    </ul>
<div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers fc U9 White and Blue</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers fc</li>
      <li>Colours: Blue / Blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: Matt Noonan<br>
      </li>

    
     

    </ul>
  </div>
<div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers fc U9 White and Blue</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers fc</li>
      <li>Colours: Blue / Blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: Matt Noonan<br>
      </li>

    
     

    </ul>
  </div>
    
<div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers fc U10</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers fc</li>
      <li>Colours: Blue / Blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: Hughie Begg<br>
      </li>

    
     

    </ul>
  </div>
    
 <div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers fc U11 white</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers fc</li>
      <li>Colours: Blue / Blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: George Driver<br>
      </li>

    
     

    </ul>
  </div>   


 <div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers fc U15</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers fc</li>
      <li>Colours: Blue / Blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: Nick Gardner<br>
      </li>

    
     

    </ul>
  </div>   

 <div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers fc U16</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers fc</li>
      <li>Colours: Blue / Blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: Jason Okorocha<br>
      </li>

    
     

    </ul>
  </div>   


  </div>
</div>
<p>&nbsp;</p>
