<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <h2><strong>Sedlescombe Rangers FC</strong></h2>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Paul Wenham<br />01424734689 / paulw@sedlescomberangersfc.co.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers White<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Matt Noonan</strong></p>
               <p><strong>Email:</strong> chefmatt@live.co.uk<br /><strong>Phone:</strong> 07449861218</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers Blue<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Matt Noonan</strong></p>
               <p><strong>Email:</strong> chefmatt@live.co.uk<br /><strong>Phone:</strong> 07449861218</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 8's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Nick Gardner</strong></p>
               <p><strong>Email:</strong> nickg@sedlescomberangersfc.co.uk<br /><strong>Phone:</strong> 07809562448</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers Pinks<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Scott Webb</strong></p>
               <p><strong>Email:</strong> scottwebb82@yahoo.co.uk<br /><strong>Phone:</strong> 07541725894</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 9's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Scott  Lavocah</strong></p>
               <p><strong>Email:</strong> scottsrfc@gmail.com<br /><strong>Phone:</strong> 07808572310</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers  Blue<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Scott Webb</strong></p>
               <p><strong>Email:</strong> scottwebb82@yahoo.co.uk<br /><strong>Phone:</strong> 07541725894</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers White<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Scott Webb</strong></p>
               <p><strong>Email:</strong> scottwebb82@yahoo.co.uk<br /><strong>Phone:</strong> 07541725894</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 10's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers Black<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Scott Webb</strong></p>
               <p><strong>Email:</strong> scottwebb82@yahoo.co.uk<br /><strong>Phone:</strong> 07541725894</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 11's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>STAPLECROSS PLAYING FIELD - TN325QH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Stuart Campbell</strong></p>
               <p><strong>Email:</strong> s.d.campbell@btconnect.com<br /><strong>Phone:</strong> 07889209416</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 12's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>STAPLECROSS PLAYING FIELD - TN325QH</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Sandra Harber</strong></p>
               <p><strong>Email:</strong> sandrakurt@hotmail.co.uk<br /><strong>Phone:</strong> 07742435877</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Paul  Carter</strong></p>
               <p><strong>Email:</strong> paulcarter8030@gmail.com<br /><strong>Phone:</strong> 07802822349</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 15's</strong></p>
               <p><strong>Team:</strong> Sedlescombe Rangers - Sedlescombe Rangers<br /><strong>Colours:</strong> BLUE / BLUE</p>
               <p>SEDLESCOMBE RANGERS, OAKLANDS PARK - TN330UF</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Jason Okorocha</strong></p>
               <p><strong>Email:</strong> leonardjason6@gmail.com<br /><strong>Phone:</strong> 07342656469</p>
            </td>
         </tr>
      </table>
