<h2 id="sedlescombe"><strong>Sedlescombe Rangers FC</strong></h2>

<p>{% include kit.html top="#0000ff" top2="#0000ff" shorts="#0000ff" socks="#0000ff" %}
  








</p>
<p>Club Secretary: Paul Wenham<br>
  Tel: <a href="tel:07930639424">07930639424</a><br>
Email: <a href="mailto:paulw@sedlescomberangersfc.co.uk">paulw@sedlescomberangersfc.co.uk</a></p>
<div>
  <div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers fc Under 7's</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers fc</li>
      <li>Colours: Blue / Blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: Nick Gardner<br>
      </li>
      <li>Tel: <a href="tel:07809562448">07809562448</a><br>
      </li>
      <li>Email: <a href="mailto:nickg@sedlescomberangersfc.co.uk">nickg@sedlescomberangersfc.co.uk</a><br>
      </li>
       <li>Manager:  Adam Baxter<br>
      </li>
      <li>Tel: <a href="tel:07790 014948">07790 014948</a><br>
      </li>
      <li>Email: <a href="mailto:abhomecomputing@outlook.com">abhomecomputing@outlook.com</a><br>
      </li>

    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Sedlescombe Rangers FC - Sedlescombe Rangers Under 8's</h5>
    </div>
    <ul>
      <li>Team: Sedlescombe Rangers FC - Sedlescombe Rangers</li>
      <li>Colours: blue / blue</li>
      <li>Location: Oaklands Park Sedlescombe, tn33ouf</li>
    </ul>
    <ul>
      <li>Manager: David Brown<br>
      </li>
      <li>Tel: <a href="tel:07994657664">07994657664</a><br>
      </li>
      <li>Email: <a href="mailto:paulw@sedlescomberangersfc.co.uk">paulw@sedlescomberangersfc.co.uk</a></li>
    </ul>
    
    
     <ul>
      <li>U9 White and Blue – Matt Noonan 07449861218 mattn@sedlescomberangersfc.co.uk
    
    
    <ul>
      <li> U10 Hughie Begg – hughwilliam@icloud.com – </il>
        </ul>

 <ul>
      <li>U11 white – George Driver  – 07834695886 – georgedriver46@gmail.com</il>
        </ul>



 <ul>
      <li>U15 Nick Gardner 07809562448 – nickg@sedlescomberangersfc.co.uk</il>
        </ul>

 <ul>
   <li>U16 – Jason Okorocha – 07342 656469 – leonardjason6@gmail.com</il>
        </ul>
  </div>
</div>
<p>&nbsp;</p>
