<h2 id="wadhurst"><strong>WADHURST UNITED JFC</strong></h2>

{% include kit.html top="#ffffff" shorts="#000000" socks="#000000" %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> TRUDI O'NEILL<br />01892 783573 / trudioneill@btinternet.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Wadhurst United Juniors FC - Wadhurst Titans<br /><strong>Colours:</strong> WHITE / BLACK</p>
               <p>LAMBERHURST PLAYING FIELDS - TN3 8DB</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: SIMON  DE WILDE</strong></p>
               <p><strong>Email:</strong> simondewilde@yahoo.com<br /><strong>Phone:</strong> 07919 246318</p>
            </td>
         </tr>
      </table>
