  <h2 id="weald_wolves"><strong>Weald Wolves JFC</strong></h2>

{% include kit.html top="#ff0000" top2="#ff0000" shorts="#000000" socks="#000000" %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
       
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Alan Venables<br />01732450161 / alan.venables@directlinegroup.co.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 15's</strong></p>
               <p><strong>Team:</strong> Weald Wolves - U15<br /><strong>Colours:</strong> RED / BLACK</p>
               <p>WEALD RECREATION GROUND - TN146QR</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Andy  Ginnno</strong></p>
               <p><strong>Email:</strong> Today@talktalk.net<br /><strong>Phone:</strong> 07768025287</p>
            </td>
         </tr>
      </table>
