   <h2 id="westfield"><strong>Westfield Youth FC</strong></h2>


<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
        
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Heath MOIR<br />+447561324545 / westfieldyouthsecretary@gmail.com <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 14's</strong></p>
               <p><strong>Team:</strong> Westfield FC - Youth <br /><strong>Colours:</strong> YELLOW / GREEN</p>
               <p>PARISH FIELD, MAIN ROAD, WESTFIELD - TN354SL (NEAREST POSTCODE)</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Heath MOIR</strong></p>
               <p><strong>Email:</strong> heath.moir@gmail.com<br /><strong>Phone:</strong> +447561324545</p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 15's</strong></p>
               <p><strong>Team:</strong> Westfield FC - Youth <br /><strong>Colours:</strong> YELLOW / GREEN</p>
               <p>PARISH FIELD, MAIN ROAD, WESTFIELD - TN354SL (NEAREST POSTCODE)</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: Paul Hobden</strong></p>
               <p><strong>Email:</strong> Phobden@icloud.com<br /><strong>Phone:</strong> 07721375311</p>
            </td>
         </tr>
      </table>
