   <h2 id="westfield"><strong>Westfield Youth FC</strong></h2>

<p>{% include kit.html top="#FFFF00" top2="#FFFF00" shorts="#008000" socks="#008000" %}
  
</p>
<p>Club Secretary: Jack Stapley		<br>
  Tel: <a href="tel:07720525024">07720525024</a><br>
Email: <a href="mailto:chairman@westfieldfootballclub.comm">chairman@westfieldfootballclub.com</a></p>

<p>Club Welfare Officer: Lewis Bellamy	<br>
  Tel: <a href="tel:07930396418">07930396418</a><br>
Email: <a href="mailto:lewis.bellamy@sky.com">lewis.bellamy@sky.com</a></p>

