   <h2 id="westfield"><strong>Westfield Youth FC</strong></h2>

<p>{% include kit.html top="#FFFF00" top2="#FFFF00" shorts="#008000" socks="#008000" %}
  
</p>
<p>Club Secretary: Heath Moir<br>
  Tel: <a href="tel:07561324545">07561324545</a><br>
Email: <a href="mailto:westfieldyouthsecretary@gmail.com">westfieldyouthsecretary@gmail.com</a></p>
<div>
  <div>
    <div>
      <h5>Westfield Youth FC - U7 Under 7's</h5>
    </div>
    <ul>
      <li>Team: Westfield Youth FC - U7</li>
      <li>Colours: Yellow / Green</li>
      <li>Location: Mill Lane, Westfield, TN354SU</li>
    </ul>
    <ul>
      <li>Manager: Marc Powell<br>
      </li>
      <li>Tel: <a href="tel:07948202344">07948 202344</a><br>
      </li>
      <li>Email: <a href="mailto:Marcpowell2@live.co.uk">Marcpowell2@live.co.uk</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Westfield Youth FC - U8 Under 8's</h5>
    </div>
    <ul>
      <li>Team: Westfield Youth FC - U8</li>
      <li>Colours: Yellow / Green</li>
      <li>Location: Mill Lane, Westfield, TN354SU</li>
    </ul>
    <ul>
      <li>Manager: Andrew Ball<br>
      </li>
      <li>Tel: <a href="tel:07742090851">07742 090851</a><br>
      </li>
      <li>Email: <a href="mailto:bally01988@gmail.com">bally01988@gmail.com</a></li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Westfield Youth FC - U15 Under 15's</h5>
    </div>
    <ul>
      <li>Team: Westfield Youth FC - U15</li>
      <li>Colours: Yellow / Green</li>
      <li>Location: The Parish Field, TN354SB</li>
    </ul>
    <ul>
      <li>Manager: Heath Moir<br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Westfield Youth FC - U16 Under 16's</h5>
    </div>
    <ul>
      <li>Team: Westfield Youth FC - U16</li>
      <li>Colours: Yellow / Green</li>
      <li>Location: The Parish Field, Westfield, TN354SB</li>
    </ul>
    <ul>
      <li>Manager: Paul Hobden<br>
      </li>
      <li>Tel: <a href="tel:07721375311">07721375311</a><br>
      </li>
      <li>Email: <a href="mailto:phobden@icloud.com">phobden@icloud.com</a><br>
      </li>
    </ul>
  </div>
</div>

<p>&nbsp;</p>
