
   <h2 id="wittersham"><strong>Wittersham FC</strong></h2>

<p>{% include kit.html top="#ffffff" top2="#ffffff" shorts="#ffffff" socks="#ffffff"  %}
     
</p>
<p>Club Secretary: Miriam Lewis<br>
  Tel: <a href="tel:07950047623">07950047623</a><br>
Email: <a href="mailto:miriamanddavid@aol.com">miriamanddavid@aol.com</a></p>
<div>
  <div>
    <div>
      <h5>Wittersham F.C. - Under 10 Under 10's</h5>
    </div>
    <ul>
      <li>Team: Wittersham F.C. - Under 10</li>
      <li>Colours: Green and white / Greeen</li>
      <li>Location: Sir Victor and Lady Mallet Sports Field, TN30 7PD</li>
    </ul>
    <ul>
      <li>Manager: Steve Durrant<br>
      </li>
      <li>Tel: <a href="tel:07787157917">07787157917</a><br>
      </li>
      <li>Email: <a href="mailto:Stephen.j.durrant@btinternet.com">Stephen.j.durrant@btinternet.com</a><br>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div>
      <h5>Wittersham F.C. Under 12's</h5>
    </div>
    <ul>
      <li>Team: Wittersham F.C.</li>
      <li>Colours: Green/White / Green</li>
      <li>Location: Wittersham Sports Field, TN30 7PD</li>
    </ul>
    <ul>
      <li>Manager: Jason Wood<br>
      </li>
      <li>Tel: <a href="tel:07766657244">07766657244</a><br>
      </li>
      <li>Email: <a href="mailto:jwoodcfc@gmail.com">jwoodcfc@gmail.com</a></li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>
