.ad {
  margin: 20px auto;
  max-width: 980px;
  background-image: url("adverts/980x120.png");
  background-size: cover;
  background-position: left center;
  border: 1px solid #333;
}
.ad .container {
  clear: both;
  padding: 1px 0 0 0;
}

.ad .container a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

