
<h1><span>PREVIOUS CUP WINNERS... </span></h1>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 9 CHALLENGE CUP</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Sedlescombe Rangers Royals </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Little Common Minors </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Hastings United Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Sedlescombe Rangers Blue </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
 
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 10 CHALLENGE CUP</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1992/3 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>Langney Sports </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Langney Sports </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Willingdon Athletic </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Winchelsea Beach </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Grasshopper Junior Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Little Common Minors </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Sedlescombe Rangers Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Hastings United Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>Hastings United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>Westfield</span></p></td>
    </tr>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 11 FUTON &amp; PINE SHIELD</strong> </span></p>
        <p><span>Small-sided (7-a-side) Competition </span></p>
        </td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Ridge Rangers Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Pevensey &amp; Westham Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>St Leonards Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Grasshopper Junior Yellow </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>New Romney</span></p></td>
    </tr>

</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">

    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 11 BESURE SECURITY SYSTEMS CUP</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1992/3 </span></p></td>
      <td><p><span>Bexhill Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Willingdon Athletic </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Winchelsea Beach </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Polegate Grasshopper </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hastings Town Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Hailsham United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Hastings Town Youth 2000 </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Grasshopper Junior Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Hastings Gunners Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Hastings Town Youth 2000 Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings Town Youth 2000 Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Westfield Wanderers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Sedlescombe Rangers Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Sedlescombe Rangers Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>Hastings United Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>Hawkhurst </span></p></td>
    </tr>
  
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
 
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 12 WAYNE RUSSELL CUP</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>Bexhill Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Bexhill Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Langney Sports </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>St Leonards Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Hastings Harriers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Hastings Town Minors </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Grasshopper Junior Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Westfield Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings Gunners Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Bexhill Athletic Eagles </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Bexhill United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>Hastings United Claret </span></p></td>
    </tr>

</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
 
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 13 TOP FLIGHT TROPHY</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Rye United </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Firehills </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Willingdon Athletic </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Bexhill Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>New Romney </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Hastings Athletic </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings Gunners Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Hastings Gunners </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Rye Bay </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Bexhill United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>W es tfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
 
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
 
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 14 BESURE SECURITY SYSTEMS CUP</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Winkney </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Sidley United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Westfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Hastings Town Minors </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Old Town Boys Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Westfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings United Youth Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings Hawks </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Westfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Bexhill United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>Wadhurst Wanderers </span></p></td>
    </tr>
 
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
 
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 15 CHALLENGE CUP</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Battle Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Ellerhoop </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>New Romney </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings United Youth Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings Gunners Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Bexhill Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Rye Bay </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>W es tfield </span></p></td>
    </tr>
 
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 16 LAURIE WEBBER CUP</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Bexhill Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Beckley Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Bexhill Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings United Youth Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Hastings United Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Bexhill United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Beckley Rangers </span></p></td>
    </tr>
 
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
 
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 17 LEAGUE CUP</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Winchelsea Beach </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Hastings Town Minors </span></p></td>
    </tr>
  
</table>
