
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 9 EAST </strong></span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Glenco Yellow </span></p></td>
    </tr>
    <tr>
      <td><p>2002/3</p></td>
      <td><p>Grasshopper Junior</p></td>
    </tr>
    <tr>
      <td><p>2003/4</p></td>
      <td><p>Little Common</p></td>
    </tr>
    <tr>
      <td><p>2009/10</p></td>
      <td><p>Guestling Rangers </p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 9 WEST</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Little Common Minors </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 9 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 10 GREEN</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Little Common Colts </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 10 BLUE</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>Bexhill Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Bexhill Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Princes Park Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hastings Town Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Brede Bear Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Sedlescombe Rangers White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Little Common Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>1012/13 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 10 RED</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1992/3 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>Firehills </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Willingdon Athletic </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Langney Point </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/2001 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Grasshopper Junior Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Little Common Minors </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Hastings United Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Hastings United Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Sedlescombe Rangers Blue </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 10 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Hastings United Colts </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 11 MINI SOCCER DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Brede Bears </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Princes Park Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>St Leonards Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Grasshopper Junior Yellow </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 11 GREEN</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Hailsham United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Hastings Town Blue </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 11 BLUE</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>Elphinstone Flyers </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>W inkney </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Langney Point </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Churchwood Tigers </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Hollington Harriers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Little Common Minors </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>W es tfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Bexhill Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Pevensey &amp; Westham </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Grasshopper Junior Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Polegate Grasshoppers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Hastings Town Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Glenco Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Spartan Hoops </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Mountfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Sedlescombe Rangers White </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 11 RED</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1992/3 </span></p></td>
      <td><p><span>Bexhill Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Langney Sports </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Willingdon Athletic </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hastings Town Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Little Common Rovers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>W es tfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings Town Youth Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Sedlescombe Rangers Blue </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 11 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Little Common Rovers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Hastings Town Yellow </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 12 GREEN</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Beckley Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Little Common Rovers </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 12 BLUE</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>New Romney </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Langney Sports </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Langney Sports </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Langney Sports </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>St Leonards Youth Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Ridge Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>St Leonards Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>New Romney </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Stone Cross </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Westfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Pevensey &amp; Westham </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Romney Cougars </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Bexhill Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>Hastings Rangers Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>Beckley Rangers </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 12 RED</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Bexhill Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Langney Sports </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Stamcroft </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>St Leonards Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town Minors </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Hastings Harriers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Spartan Blue </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Hastings Athletic </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Grasshopper Junior Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Hastings United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>W es tfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings Gunners Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Bexhill Athletic Eagles </span></p></td>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>Ringmer Rovers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>Select Youth </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 12 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 12/UNDER 13 COMBINATION DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Bexhill United U12 </span></p></td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 13 BLUE</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Elphinstone Flyers </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Bexhill Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hailsham United Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Polegate Grasshoppers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Eastbourne Borough </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Pevensey &amp; Westham </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 13 RED</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Langney Sports Colts </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>St Leonards Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town White </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>1066 </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>New Romney </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Hastings Town Youth 2000 </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Hastings Gunners Green </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings Gunners Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Little Common Minors </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 13 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Hastings Gunners </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Rye Bay </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 13/UNDER 14 COMBINATION DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>JC Tackleway Panthers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>AS Eastbourne </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 14 BLUE</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Beckley Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Rolvenden </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Hastings United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings United Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Bexhill Town </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 14 RED</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Winkney </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Firehills </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Sidley United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Hastings Town Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Polegate Grasshoppers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Guestling Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Hastings Town Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Westfield Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Westfield Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 14 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Westfield </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Westfield </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 15 BLUE</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Guestling Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Glenco Yellow </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Eastbourne United Colts </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 15 RED</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Stamco Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Hampden Park Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>New Romney </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Kingsmere Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Pevensey &amp; Westham </span></p></td>
    </tr>
    <tr>
      <td><p><span>2006/7 </span></p></td>
      <td><p><span>Spartan </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Westfield Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings Gunners Blue </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 15 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Rye Bay </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Dynamo Hastings </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 15/UNDER 16 COMBINATION DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Beckley Rangers U16 </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 16 BLUE</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 16 RED</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Rye United </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Little Common </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Bexhill Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Grasshopper Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2007/8 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2008/9 </span></p></td>
      <td><p><span>Hastings United Colts </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 16 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Hastings United </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Bexhill United </span></p></td>
    </tr>
  </tbody>
</table>
<p> </p>
<table border="0" class="table table-striped" width="100%">
  <tbody>
    <tr>
      <th colspan="2" rowspan="1"> <p><span><strong>UNDER 17 DIVISION</strong> </span></p>
      </th>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Winchelsea Beach </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Hastings Town Minors </span></p></td>
    </tr>
  </tbody>
</table>
