<table border="0" class="table table-striped" width="100%">
 
    <tr>
      <th colspan="2" rowspan="1"> <p><strong>PAT BLIGH AWARD </strong></p>
        <p><span>Named in honour of the one-time Secretary of the forerunner to our League, and presented to the </span><span>Club </span><span>who have been the most sporting during the season. </span></p>
        </td>
    </tr>
    <tr>
      <td><p><span>1993/4 </span></p></td>
      <td><p><span>Ocklynge Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>1994/5 </span></p></td>
      <td><p><span>Langney Sports Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>1995/6 </span></p></td>
      <td><p><span>Elphinstone Flyers </span></p></td>
    </tr>
    <tr>
      <td><p><span>1996/7 </span></p></td>
      <td><p><span>Old Town Boys </span></p></td>
    </tr>
    <tr>
      <td><p><span>1997/8 </span></p></td>
      <td><p><span>W inkney </span></p></td>
    </tr>
    <tr>
      <td><p><span>1998/9 </span></p></td>
      <td><p><span>Old Town Boys </span></p></td>
    </tr>
    <tr>
      <td><p><span>1999/2000 </span></p></td>
      <td><p><span>Old Town Boys </span></p></td>
    </tr>
    <tr>
      <td><p><span>2000/1 </span></p></td>
      <td><p><span>Winchelsea Beach </span></p></td>
    </tr>
    <tr>
      <td><p><span>2001/2 </span></p></td>
      <td><p><span>Polegate Grasshoppers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2002/3 </span></p></td>
      <td><p><span>Winchelsea Beach </span></p></td>
    </tr>
    <tr>
      <td><p><span>2003/4 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>2004/5 </span></p></td>
      <td><p><span>Eastbourne Borough </span></p></td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Glenco </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Hastings Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Hastings Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Sedlescombe Rangers </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Hawkhurst United Junior </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>Junior Club Tackleway </span></p></td>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>Select Youth </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td><p><span>Little Common</span></p></td>
    </tr>

</table>
<table border="0" class="table table-striped" width="100%">

    <tr>
      <th colspan="2" rowspan="1"> <p><strong>1066 SPORTING TROPHY </strong></p>
        <p>Presented to the most sporting Team in the League during the season.</p>
        </td>
    </tr>
    <tr>
      <td><p><span>2005/6 </span></p></td>
      <td><p><span>Rye Bay U11 </span></p></td>
    </tr>
    <tr>
      <td><p><span>2009/10 </span></p></td>
      <td><p><span>Westfield Eagles U11 </span></p></td>
    </tr>
    <tr>
      <td><p><span>2010/11 </span></p></td>
      <td><p><span>Sedlescombe Rangers U7 </span></p></td>
    </tr>
    <tr>
      <td><p><span>2011/12 </span></p></td>
      <td><p><span>Hawkhurst United U10 Town </span></p></td>
    </tr>
    <tr>
      <td><p><span>2012/13 </span></p></td>
      <td><p><span>Style Soccer U8 </span></p></td>
    </tr>
    <tr>
      <td><p><span>2013/14 </span></p></td>
      <td><p><span>JC Tackleway U11 Red </span></p></td>
    </tr>
    <tr>
      <td><p><span>2014/15 </span></p></td>
      <td><p><span>Glenco U8 </span></p></td>
    </tr>
    <tr>
      <td><p><span>2015/16 </span></p></td>
      <td> </td>
    </tr>

</table>
