---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content page-menu" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
          {% include divisions/menu.html %}
      </aside>
    </div>
  </div>
</main>

<script type="text/javascript"src="assets/javascripts/jquery.sticky-kit.js"></script>


<script type="text/javascript">
 $(".entry-sidebar, .entry-content").stick_in_parent();
</script>
